Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major) to v8.61.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency firebase-admin to v14
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v8.61.0 (#817)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) (#816)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.9
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.0.23
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#821)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.0.23 (#820)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.9 (#819)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v1.6.20
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v1.6.20 (#822)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#823)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.4.4
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v46.1.15
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.15 (#825)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) to v10.4.4 (#824)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v9.0.2
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v9.0.2 (#826)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.27
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#828)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.27 (#827)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout action to v7
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency @babel/preset-env to v8
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @babel/preset-env to v8 (#830)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v26
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v26 (#831)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/cache digest to caa2961
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/cache digest to caa2961 (#832)
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.16
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.16 (#833)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/cache action to v6
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/cache action to v6 (#834)
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency eslint-config-expo to v57
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.4.5
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.4.5 (#836)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.10
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.10 (#837)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
