Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update dependency next to v16.0.7 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.6
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.0.7 [SECURITY] (#521)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.6 (#522)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/setup-node digest to 395ad32
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update actions/setup-node digest to 395ad32 (#524)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#523)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#525)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#526)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#527)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.7
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.7 (#528)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore(backend): update prisma
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore(root): remove prisma
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#529)
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): add expo-dev-client
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

build(mobile): update eas setting
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/eas.json
Due: check-secret-lint

build(mobile): add deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update gitignore
  packages/apps/mobile/.gitignore
Due: check-secret-lint

chore(mobile): use APP_ENV
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/src/app/_layout.tsx
Due: check-secret-lint

chore(mobile): update app config
  packages/apps/mobile/app.config.ts
Due: check-secret-lint

build(mobile): update eas.json
  packages/apps/mobile/eas.json
Due: check-secret-lint

chore: update cspell config
  cspell.config.js
Due: none

chore: update lock
  bun.lock
Due: none

feat(mobile): add splash screen (#531)
  bun.lock
  cspell.config.js
  packages/apps/mobile/.gitignore
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/eas.json
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/_layout.tsx
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#532)
  bun.lock
  package.json
Due: sort-package-json

chore(mobile): enable storybook on local
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/_layout.tsx
Due: sort-package-json, check-secret-lint

chore(mobile): enable storybook on local
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/src/app/_layout.tsx
Due: check-secret-lint

chore(mobile): enable storybook on local (#533)
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/_layout.tsx
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#534)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.8
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
