Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore(eslint-configs): update
  packages/libs/eslint-configs/src/eslint-config-jest.ts
Due: check-secret-lint

test: unit
  packages/apps/backend/tests/unit/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/app/utils/decorators/current-user.decorator.spec.ts
  packages/apps/backend/tests/unit/apis/utils/controllers/api.controller.spec.ts
  packages/apps/backend/tests/unit/apis/utils/decorators/public.decorator.spec.ts
  packages/apps/backend/tests/unit/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/unit/utils/errors/error-code.spec.ts
Due: check-secret-lint

test: unit
  packages/apps/backend/tests/unit/apis/utils/decorators/public.decorator.spec.ts
Due: check-secret-lint

test: integration
  packages/apps/backend/tests/integration/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/helpers/domain-integration.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-module.helper.ts
Due: check-secret-lint

fix: iroiro
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/tests/e2e/api/admin/admin-users.e2e.spec.ts
  packages/apps/backend/tests/e2e/api/admin/users.e2e.spec.ts
  packages/apps/backend/tests/e2e/api/app/users.e2e.spec.ts
  packages/apps/backend/tests/e2e/helpers/firebase-emulator.helper.ts
  packages/apps/backend/tests/e2e/helpers/tokens.helper.ts
Due: check-secret-lint

test: e2e
  .env.test
  packages/apps/backend/tests/e2e/api/admin/admin-users.e2e.spec.ts
  packages/apps/backend/tests/e2e/api/admin/users.e2e.spec.ts
  packages/apps/backend/tests/e2e/api/app/users.e2e.spec.ts
  packages/apps/backend/tests/e2e/apis/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/apis/admin/users.spec.ts
  packages/apps/backend/tests/e2e/apis/app/users.spec.ts
Due: check-secret-lint, check-dotenv-lint

test: integration
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/helpers/domain-integration.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-setup.helper.ts
Due: check-secret-lint

style: format
  packages/apps/backend/tests/e2e/api/admin/admin-users.e2e.spec.ts
  packages/apps/backend/tests/e2e/api/admin/users.e2e.spec.ts
  packages/apps/backend/tests/e2e/helpers/app-server.helper.ts
  packages/apps/backend/tests/e2e/helpers/firebase-emulator.helper.ts
Due: check-secret-lint

test: integration
  packages/apps/backend/tests/e2e/helpers/firebase-emulator.helper.ts
  packages/apps/backend/tests/integration/domain/aggregates/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

test(backend): integration DeleteUserService
  packages/apps/backend/tests/integration/domain/usecases/delete-user.service.spec.ts
Due: check-secret-lint

test(backend): integration DeleteUserService (#325)
  packages/apps/backend/tests/integration/domain/usecases/delete-user.service.spec.ts
Due: check-secret-lint

test(backend): integration
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/helpers/api-integration.helper.ts
Due: check-secret-lint

test(backend): integration
  packages/apps/backend/tests/integration/apis/admin/users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/helpers/api-integration.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-module.helper.ts
Due: check-secret-lint

test(backend): integration
  packages/apps/backend/src/apis/app/users/users.controller.ts
Due: check-secret-lint

test(backend): integration (#326)
  packages/apps/backend/src/apis/app/users/users.controller.ts
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/admin/users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/helpers/api-integration.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-module.helper.ts
Due: check-secret-lint

test(backend): reorganize
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/firebase-auth/firebase-auth.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/usecases/delete-user.service.spec.ts
  packages/apps/backend/tests/integration/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/firebase-auth/firebase-auth.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/unit/repository/repository.service.spec.ts
Due: check-secret-lint

test(backend): reorganize
  packages/apps/backend/package.json
  packages/apps/backend/tests/_factory/admin-user.factory.ts
  packages/apps/backend/tests/_factory/index.ts
  packages/apps/backend/tests/_factory/user.factory.ts
  packages/apps/backend/tests/_helpers/app-server.helper.ts
  packages/apps/backend/tests/_helpers/database.helper.ts
  packages/apps/backend/tests/_helpers/date-mock.helper.ts
  packages/apps/backend/tests/_helpers/firebase-emulator.helper.ts
  packages/apps/backend/tests/_helpers/tokens.helper.ts
  packages/apps/backend/tests/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/apis/admin/admin-users/admin-users.e2e.spec.ts
  packages/apps/backend/tests/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/apis/admin/users/users.e2e.spec.ts
  packages/apps/backend/tests/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/apis/app/users/users.e2e.spec.ts
  packages/apps/backend/tests/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/repository/repository.service-2.spec.ts
  packages/apps/backend/tests/utils/errors/common.error.spec.ts
Due: sort-package-json, check-secret-lint

test(backend): reorganize
  packages/apps/backend/src/apis/app/users/users.controller.ts
Due: check-secret-lint

test(backend): reorganize
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: check-secret-lint

chore: update firebase config
  .env.example
  .env.test
  .firebaserc
  Makefile
  firebase.dev.json
  firebase.test.json
  packages/apps/backend/.firebaserc
  packages/apps/backend/Makefile
  packages/apps/backend/firebase.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint, check-dotenv-lint

chore: update firebase config
  .gitignore
  Makefile
Due: none

chore: update firebase config
  .env.example
  .env.test
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/package.json
  packages/apps/backend/scripts/seed-auth.ts
Due: sort-package-json, check-secret-lint, check-dotenv-lint

test(backend): update e2e
  cspell.config.js
  packages/apps/backend/tests/global/firebase-emulator-manager.ts
  packages/apps/backend/tests/global/setup.ts
  packages/apps/backend/tests/global/teardown.ts
  packages/apps/backend/tests/helpers/app-server.helper.ts
  packages/apps/backend/tests/helpers/firebase-auth-emulator.client.ts
  packages/apps/backend/tests/helpers/firebase-emulator.helper.ts
  packages/apps/backend/tests/helpers/tokens.helper.ts
  packages/apps/backend/tests/jest.config.ts
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/admin/users/users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/app/users/users.e2e.spec.ts
Due: check-secret-lint

chore: reorganize
  packages/apps/backend/package.json
  packages/apps/backend/prisma.config.ts
  packages/apps/backend/src/prisma/migrations/20250727223832_create_users_table/migration.sql
  packages/apps/backend/src/prisma/migrations/20250815012429_create_admin_users_table/migration.sql
  packages/apps/backend/src/prisma/migrations/migration_lock.toml
  packages/apps/backend/src/prisma/schema.prisma
  packages/apps/backend/src/prisma/tables/admin-user.prisma
  packages/apps/backend/src/prisma/tables/user.prisma
Due: sort-package-json, validate-prisma-schema, check-secret-lint

chore: reorganize
  packages/apps/backend/package.json
  packages/apps/backend/prisma.config.ts
  packages/apps/backend/src/repository/migrations/20250727223832_create_users_table/migration.sql
  packages/apps/backend/src/repository/migrations/20250815012429_create_admin_users_table/migration.sql
  packages/apps/backend/src/repository/migrations/migration_lock.toml
  packages/apps/backend/src/repository/schema.prisma
  packages/apps/backend/src/repository/tables/admin-user.prisma
  packages/apps/backend/src/repository/tables/user.prisma
Due: sort-package-json, check-secret-lint

chore: reorganize
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/src/apis/app/users/users.controller.ts
  packages/apps/backend/src/apis/app/utils/common.module.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.module.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/src/firebase-auth/utils/constants.ts
  packages/apps/backend/src/firebase-auth/utils/dto.ts
  packages/apps/backend/tests/src/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

chore: cspell
  cspell.config.js
Due: none

chore: reorganize
  .env.example
  .env.test
  packages/apps/backend/scripts/seed-auth.ts
  packages/apps/backend/src/apis/app/users/users.controller.ts
  packages/apps/backend/src/apis/app/utils/common.module.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
Due: check-secret-lint, check-dotenv-lint

chore: reorganize
  Makefile
  firebase.dev.json
  firebase.test.json
Due: none

test(backend): e2e
  packages/apps/backend/tests/global/firebase-emulator-manager.ts
  packages/apps/backend/tests/global/setup.ts
  packages/apps/backend/tests/global/teardown.ts
  packages/apps/backend/tests/helpers/app-server.helper.ts
  packages/apps/backend/tests/helpers/firebase-auth-emulator.client.ts
  packages/apps/backend/tests/jest.config.ts
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/src/apis/admin/users/users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/src/apis/app/users/users.e2e.spec.ts
Due: check-secret-lint

test(backend): e2e
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/package.json
  packages/apps/backend/src/firebase-auth/firebase-auth.seed.ts
Due: sort-package-json, check-secret-lint

test(backend): e2e
  packages/apps/backend/tests/jest.config.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.query.service.spec.ts
Due: check-secret-lint

style: eslint
  packages/apps/backend/eslint.config.ts
Due: check-secret-lint

test(backend): e2e
  .env.test
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/utils/use-global-options.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/tests/helpers/create-user-via-api.ts
  packages/apps/backend/tests/helpers/firebase-auth-emulator.helper.ts
  packages/apps/backend/tests/helpers/testing-app.helper.ts
  packages/apps/backend/tests/jest-env.setup.ts
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/app/users/users.e2e.spec.ts
  packages/apps/backend/tests/src/apis/utils/use-global-options.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
Due: check-secret-lint, check-dotenv-lint

test(backend): e2e
  packages/apps/backend/tests/src/apis/app/users/users.controller.spec.ts
Due: check-secret-lint

test(backend): e2e
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.controller.spec.ts
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
