Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

fix: cspell
  cspell.config.js
Due: none

chore(backend): add prisma/client
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore(backend): add @next/eslint-plugin-next
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: fix problems (#415)
  bun.lock
  cspell.config.js
  package.json
  packages/apps/admin/package.json
  packages/apps/admin/tests/storybook/stories/Button.tsx
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/package.json
  packages/apps/backend/scripts/open-swagger-ui.ts
  packages/apps/mobile/package.json
  packages/apps/mobile/tests/unit/jest.config.ts
  packages/libs/eslint-configs/src/eslint-config-react.ts
  scripts/fix-storybook-vite.sh
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v15.5.6
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#417)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v15.5.6 (#416)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

ci: add renovate hook
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: add renovate hook (#418)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency cypress to v15.5.0
  bun.lock
  package.json
Due: sort-package-json

ci: update renovate hook
  .github/workflows/renovate.yml
Due: check-secret-lint

style: format
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: update renovate hook (#420)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency cypress to v15.5.0 (#419)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v27.0.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v27.0.1 (#421)
  bun.lock
  package.json
Due: sort-package-json

ci: update renovate workflow
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: update renovate workflow (#422)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: upadte renovate hook
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: upadte renovate hook (#423)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore(mobile): update port for local servers
  .env.example
  .env.test
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint, check-dotenv-lint

chore(mobile): bump packages
  bun.lock
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(tabs)/explore.tsx
  packages/apps/mobile/src/app/(tabs)/index.tsx
  packages/apps/mobile/src/components/ui/IconSymbol.ios.tsx
  packages/apps/mobile/src/types/images.d.ts
  packages/apps/mobile/tsconfig.json
Due: sort-package-json, check-secret-lint

style(mobile): format
  packages/apps/mobile/src/types/images.d.ts
Due: check-secret-lint

chore(mobile): bump packages (#424)
  .env.example
  .env.test
  bun.lock
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(tabs)/explore.tsx
  packages/apps/mobile/src/app/(tabs)/index.tsx
  packages/apps/mobile/src/components/ui/IconSymbol.ios.tsx
  packages/apps/mobile/src/types/images.d.ts
  packages/apps/mobile/tsconfig.json
Due: sort-package-json, check-secret-lint, check-dotenv-lint

chore: Update Backend other dependencies (non-major) to v11.1.7
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.7 (#425)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#426)
  bun.lock
  package.json
Due: sort-package-json

chore: remove unused Storybook Vite fix script
  package.json
  scripts/fix-storybook-vite.sh
Due: sort-package-json, check-secret-lint

chore: remove unused Storybook Vite fix script (#427)
  package.json
  scripts/fix-storybook-vite.sh
Due: sort-package-json, check-secret-lint

chore: update codex configs
  .gitignore
  AGENTS.md
Due: none

chore: update codex configs
  AGENTS.md
Due: none

chore: update codex configs (#429)
  .gitignore
  AGENTS.md
Due: none

chore: Update renovatebot/github-action action to v43.0.18
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Node.js to v22.21.0
  .tool-versions
Due: none

chore: Update dependency lefthook to v2
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
