Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

Update .claude/commands/serena.md
  .claude/commands/serena.md
Due: check-secret-lint

chore: add subagent
  .claude/agents/serena-expert.md
  .claude/commands/serena.md
Due: check-secret-lint

chore: add serena slash commands (#162)
  .claude/agents/serena-expert.md
  .claude/commands/serena.md
Due: check-secret-lint

docs: add document management system
  .markdownlint.json
  CLAUDE.md
  bun.lock
  cspell.config.js
  docs/architecture.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  package.json
  packages/apps/admin/docs/templates/component.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/docs/templates/module.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/mobile/docs/state-management.md
  packages/apps/mobile/docs/templates/component.md
  packages/apps/mobile/tsconfig.storybook.json
  scripts/lint-es.sh
Due: sort-package-json, check-secret-lint

ci: fix lint-es script
  scripts/lint-es.sh
Due: check-secret-lint

ci: fix lint-es script
  .github/workflows/ci-static.yml
  packages/apps/mobile/.gitignore
  packages/apps/mobile/tests/storybook/.rnstorybook/storybook.requires.ts
Due: check-secret-lint

docs: add doc files
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/error-handling.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/state-management.md
  packages/apps/backend/docs/error-handling.md
  packages/apps/backend/docs/performance.md
  packages/apps/backend/docs/state-management.md
  packages/apps/mobile/docs/error-handling.md
  packages/apps/mobile/docs/performance.md
  packages/apps/mobile/docs/testing-strategy.md
  packages/libs/eslint-configs/README.md
  packages/libs/eslint-plugins/README.md
Due: check-secret-lint

docs: fix md file
  packages/libs/eslint-plugins/README.md
Due: check-secret-lint

docs: update cspell words
  cspell.config.js
Due: none

docs: add document management system (#167)
  .github/workflows/ci-static.yml
  .markdownlint.json
  CLAUDE.md
  bun.lock
  cspell.config.js
  docs/architecture.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  package.json
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/error-handling.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/state-management.md
  packages/apps/admin/docs/templates/component.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/docs/error-handling.md
  packages/apps/backend/docs/performance.md
  packages/apps/backend/docs/state-management.md
  packages/apps/backend/docs/templates/module.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/mobile/.gitignore
  packages/apps/mobile/docs/error-handling.md
  packages/apps/mobile/docs/performance.md
  packages/apps/mobile/docs/state-management.md
  packages/apps/mobile/docs/templates/component.md
  packages/apps/mobile/docs/testing-strategy.md
  packages/apps/mobile/tests/storybook/.rnstorybook/storybook.requires.ts
  packages/apps/mobile/tsconfig.storybook.json
  packages/libs/eslint-configs/README.md
  packages/libs/eslint-plugins/README.md
  scripts/lint-es.sh
Due: sort-package-json, check-secret-lint

chore: update bun lock file
  bun.lock
Due: none

chore: update bun lock file (#170)
  bun.lock
Due: none

chore: replace npm with bun
  CLAUDE.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/README.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/mobile/README.md
  packages/apps/mobile/docs/testing-strategy.md
  packages/libs/eslint-configs/README.md
  packages/libs/eslint-plugins/README.md
Due: check-secret-lint

chore: replace npm with bun (#171)
  CLAUDE.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/README.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/mobile/README.md
  packages/apps/mobile/docs/testing-strategy.md
  packages/libs/eslint-configs/README.md
  packages/libs/eslint-plugins/README.md
Due: check-secret-lint

chore: add notes
  packages/apps/admin/tests/unit/vitest.config.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

chore: update Makefile
  Makefile
  packages/apps/admin/Makefile
  packages/apps/backend/Makefile
  packages/apps/mobile/Makefile
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-plugins/Makefile
  packages/libs/tsconfig-base/Makefile
Due: check-secret-lint

chore: update CLAUDE.md
  CLAUDE.md
Due: none

chore: update docs
  CLAUDE.md
  docs/architecture.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/error-handling.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/state-management.md
  packages/apps/admin/docs/templates/component.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/README.md
  packages/apps/backend/docs/error-handling.md
  packages/apps/backend/docs/performance.md
  packages/apps/backend/docs/state-management.md
  packages/apps/backend/docs/templates/module.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/backend/src/utils/strict-omit.ts
  packages/apps/mobile/README.md
  packages/apps/mobile/docs/error-handling.md
  packages/apps/mobile/docs/performance.md
  packages/apps/mobile/docs/state-management.md
  packages/apps/mobile/docs/templates/component.md
  packages/apps/mobile/docs/testing-strategy.md
Due: check-secret-lint

docs: update (#187)
  CLAUDE.md
  docs/architecture.md
  docs/code-quality.md
  docs/pre-commit-checklist.md
  docs/quick-reference.md
  packages/apps/admin/README.md
  packages/apps/admin/docs/a11y.md
  packages/apps/admin/docs/error-handling.md
  packages/apps/admin/docs/i18n.md
  packages/apps/admin/docs/performance.md
  packages/apps/admin/docs/release.md
  packages/apps/admin/docs/state-management.md
  packages/apps/admin/docs/templates/component.md
  packages/apps/admin/docs/testing-strategy.md
  packages/apps/backend/README.md
  packages/apps/backend/docs/error-handling.md
  packages/apps/backend/docs/performance.md
  packages/apps/backend/docs/state-management.md
  packages/apps/backend/docs/templates/module.md
  packages/apps/backend/docs/testing-strategy.md
  packages/apps/backend/src/utils/strict-omit.ts
  packages/apps/mobile/README.md
  packages/apps/mobile/docs/error-handling.md
  packages/apps/mobile/docs/performance.md
  packages/apps/mobile/docs/state-management.md
  packages/apps/mobile/docs/templates/component.md
  packages/apps/mobile/docs/testing-strategy.md
Due: check-secret-lint

chore(mobile): update Makefile
  packages/apps/mobile/Makefile
Due: check-secret-lint

chore(mobile): update Makefile (#188)
  packages/apps/mobile/Makefile
Due: check-secret-lint

feat(backend): add admin user
  cspell.config.js
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/prisma/aggregate/admin-user.prisma
  packages/apps/backend/prisma/migrations/20250815012429_add_admin_users/migration.sql
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.command.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.constants.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.module.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.query.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/admin-users/admin-users.controller.ts
  packages/apps/backend/src/modules/api/admin/admin-users/admin-users.module.ts
  packages/apps/backend/src/modules/api/admin/admin.module.ts
Due: check-secret-lint

test(backend): add tests
  packages/apps/backend/tests/e2e/api/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/helpers/e2e-test-utils.ts
  packages/apps/backend/tests/factory/admin-user.factory.ts
  packages/apps/backend/tests/factory/base-factory.ts
  packages/apps/backend/tests/factory/index.ts
  packages/apps/backend/tests/factory/user.factory.ts
  packages/apps/backend/tests/helpers/database-test-utils.ts
  packages/apps/backend/tests/integration/helpers/integration-test-utils.ts
  packages/apps/backend/tests/integration/modules/aggregate/admin-user/admin-user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.input.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/app/users/users.controller.spec.ts
Due: check-secret-lint

test(backend): add tests
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.input.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.response.dto.spec.ts
Due: check-secret-lint

test: fix name
  packages/apps/backend/tests/e2e/api/admin/admin-users.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/admin-users/admin-users.controller.spec.ts
Due: check-secret-lint

feat(backend): add admin user (#191)
  cspell.config.js
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/prisma/aggregate/admin-user.prisma
  packages/apps/backend/prisma/migrations/20250815012429_add_admin_users/migration.sql
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.command.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.constants.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.module.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.query.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/admin-user/admin-user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/admin-users/admin-users.controller.ts
  packages/apps/backend/src/modules/api/admin/admin-users/admin-users.module.ts
  packages/apps/backend/src/modules/api/admin/admin.module.ts
  packages/apps/backend/tests/e2e/api/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/helpers/e2e-test-utils.ts
  packages/apps/backend/tests/factory/admin-user.factory.ts
  packages/apps/backend/tests/factory/base-factory.ts
  packages/apps/backend/tests/factory/index.ts
  packages/apps/backend/tests/factory/user.factory.ts
  packages/apps/backend/tests/helpers/database-test-utils.ts
  packages/apps/backend/tests/integration/helpers/integration-test-utils.ts
  packages/apps/backend/tests/integration/modules/aggregate/admin-user/admin-user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.input.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/admin-user/admin-user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/app/users/users.controller.spec.ts
Due: check-secret-lint

docs(backend): update readme
  packages/apps/backend/README.md
Due: check-secret-lint

docs(backend): update readme (#192)
  packages/apps/backend/README.md
Due: check-secret-lint

chore(mobile): update deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update deps (#193)
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

ci: add permission
  .github/workflows/ci-static.yml
Due: check-secret-lint

ci: fix workflow
  .github/workflows/ci-static.yml
Due: check-secret-lint

style: format
  .github/workflows/ci-static.yml
Due: check-secret-lint

ci: remove workflow
  .github/workflows/ci-static.yml
Due: check-secret-lint

fix: Update Jest config to support @faker-js/faker v10 ESM
  packages/apps/backend/tests/jest.config.ts
Due: check-secret-lint

feat: add npm packages
  bun.lock
  packages/apps/backend/package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

feat: add table
  packages/apps/backend/prisma/aggregate/user-auth-token.prisma
  packages/apps/backend/prisma/aggregate/user.prisma
  packages/apps/backend/prisma/migrations/20250817_add_user_auth_tokens/migration.sql
  packages/apps/backend/prisma/schema.prisma
Due: validate-prisma-schema, check-secret-lint

feat(backend): add Current User Decorator
  packages/apps/backend/src/decorators/current-user.decorator.ts
Due: check-secret-lint

feat: update env files
  .env.example
  .env.test
Due: check-dotenv-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
