Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

test(backend): e2e
  packages/apps/backend/tests/src/apis/admin/users/users.controller.spec.ts
Due: check-secret-lint

test(backend): e2e
  packages/apps/backend/tests/src/apis/app/users/users.controller.spec.ts
Due: check-secret-lint

test(backend): e2e
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.controller.spec.ts
Due: check-secret-lint

style: format
  packages/apps/backend/tests/src/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/src/apis/app/users/users.controller.spec.ts
Due: check-secret-lint

ci: update .github/actions/start-backend/action.yml
  .github/actions/start-backend/action.yml
Due: check-secret-lint

ci: update .github/actions/start-backend/action.yml
  .github/actions/start-backend/action.yml
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

test: update config
  packages/apps/backend/tests/jest-env.setup.ts
Due: check-secret-lint

test: common error
  .gitignore
  cspell.config.js
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/src/firebase-auth/utils/firebase.error.ts
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/src/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
  packages/apps/backend/tests/src/utils/errors/error-code.spec.ts
  packages/apps/backend/tests/src/utils/errors/unknown.error.spec.ts
  packages/libs/eslint-plugins/src/plugin-backend/throw-new-common-error-only.ts
Due: check-secret-lint

test: update
  packages/apps/backend/src/firebase-auth/utils/firebase.error.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
Due: check-secret-lint

style: format
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
Due: check-secret-lint

chore: add user seed
  packages/apps/backend/package.json
  packages/apps/backend/src/repository/seeds/index.seed.ts
  packages/apps/backend/src/repository/seeds/user.seed.ts
Due: sort-package-json, check-secret-lint

feat: improve GlobalExceptionFilter
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

docs: update CLAUDE.md
  CLAUDE.md
Due: none

chore: improve seed command
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

docs: update root readme
  README.md
Due: none

docs(backend): update readme
  packages/apps/backend/README.md
Due: check-secret-lint

docs(root): update claude.md
  CLAUDE.md
Due: none

docs(backend): update commands
  Makefile
  cspell.config.js
  packages/apps/admin/package.json
  packages/apps/backend/package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

style: format
  packages/apps/backend/README.md
Due: check-secret-lint

docs: update Agents.md
  AGENTS.md
Due: none

feat: improve GlobalExceptionFilter (#335)
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  cspell.config.js
  packages/apps/admin/package.json
  packages/apps/backend/README.md
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): patch update
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: update deps
  bun.lock
  package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

fix: use useScrollOffset
  packages/apps/mobile/src/components/ParallaxScrollView.tsx
Due: check-secret-lint

style: cspell
  cspell.config.js
Due: none

chore(mobile): update expo (#342)
  CLAUDE.md
  bun.lock
  cspell.config.js
  package.json
  packages/apps/mobile/package.json
  packages/apps/mobile/src/components/ParallaxScrollView.tsx
Due: sort-package-json, check-secret-lint

fix(mobile): remove deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

fix(mobile): remove deps (#346)
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: update postgresql
  docker-compose.yml
Due: none

style: format
  docker-compose.yml
Due: none

chore: update postgresql (#353)
  docker-compose.yml
Due: none

chore: update mobile deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: update mobile deps (#374)
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

fix(eslint-configs): eslint-plugin-react-hooks
  packages/libs/eslint-configs/src/eslint-config-react.ts
Due: check-secret-lint

chore: add type annotations
  Makefile
  eslint.config.ts
  packages/apps/admin/eslint.config.ts
  packages/libs/eslint-configs/eslint.config.ts
  packages/libs/eslint-configs/src/eslint-config-base-script.ts
  packages/libs/eslint-configs/src/eslint-config-base.ts
  packages/libs/eslint-configs/src/eslint-config-cypress.ts
  packages/libs/eslint-configs/src/eslint-config-import.ts
  packages/libs/eslint-configs/src/eslint-config-jest.ts
  packages/libs/eslint-configs/src/eslint-config-playwright.ts
  packages/libs/eslint-configs/src/eslint-config-react-native.ts
  packages/libs/eslint-configs/src/eslint-config-react.ts
  packages/libs/eslint-configs/src/eslint-config-storybook.ts
  packages/libs/eslint-configs/src/eslint-config-typescript.ts
  packages/libs/eslint-configs/src/eslint-config-vitest.ts
  packages/libs/eslint-plugins/eslint.config.ts
Due: check-secret-lint

chore: update gitignore
  .gitignore
Due: none

fix: pinned eslint-plugin-react-hooks
  bun.lock
  package.json
Due: sort-package-json
