Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

ci: add renovate github action workflow
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: add renovte github action workflow (#94)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update deps
  bun.lock
  package.json
  packages/apps/admin/package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

feat(backend): add new logics related to new column
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
Due: check-secret-lint

feat(backend): alter column
  packages/apps/backend/prisma/aggregate/user.prisma
  packages/apps/backend/prisma/migrations/20250727223832_create_users_table/migration.sql
Due: check-secret-lint

chore(eslint-plugins): add new rules
  packages/libs/eslint-plugins/src/plugin-backend/prisma-find-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-update-naming-convention.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-find-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-update-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

chore: update admin schema
  packages/apps/admin/generated/types/api.d.ts
Due: check-secret-lint

fix: npm script
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

test(backend): add tests
  packages/apps/backend/src/modules/aggregate/user/user.repository.service.ts
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-find-naming-convention.ts
Due: check-secret-lint

test(admin): fix msw handler
  packages/apps/admin/tests/msw/handlers.ts
Due: check-secret-lint

chore: remove unused dep
  bun.lock
  package.json
Due: sort-package-json

test(eslint-plugins): add tests
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-find-naming-convention.test.ts
Due: check-secret-lint

test(eslint-plugins): increase test timeout in vitest config
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

ci: update renovate schedule
  .github/workflows/renovate.yml
Due: check-secret-lint

feat(backend): add new column (#128)
  bun.lock
  package.json
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/admin/package.json
  packages/apps/admin/tests/msw/handlers.ts
  packages/apps/backend/package.json
  packages/apps/backend/prisma/aggregate/user.prisma
  packages/apps/backend/prisma/migrations/20250727223832_create_users_table/migration.sql
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-find-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-update-naming-convention.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-find-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-update-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: sort-package-json, check-secret-lint

ci: update renovate schedule (#129)
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: update renovate.json
  .github/renovate.json
Due: check-secret-lint

ci: update renovate.json (#130)
  .github/renovate.json
Due: check-secret-lint

ci: update renovate.json (#133)
  .github/renovate.json
Due: check-secret-lint

feat(eslint-plugins): remove unused rules
  packages/libs/eslint-plugins/src/plugin-backend/prisma-naming-convention.ts
  packages/libs/eslint-plugins/tests/plugin-backend/index.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/no-internal-id.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-repository-only-access.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-update-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/repository-model-access-restriction.test.ts
Due: check-secret-lint

feat(eslint-plugins): remove unused rules
  packages/libs/eslint-plugins/src/plugin-backend/index.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-create-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-create-no-deleted-at.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-delete-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-find-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-naming-convention.ts
  packages/libs/eslint-plugins/src/plugin-backend/prisma-update-naming-convention.ts
  packages/libs/eslint-plugins/tests/plugin-backend/index.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/no-internal-id.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-create-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-create-no-deleted-at.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-delete-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-find-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-naming-convention.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/prisma-repository-only-access.test.ts
  packages/libs/eslint-plugins/tests/plugin-backend/repository-model-access-restriction.test.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

test(eslint-plugins): update threshold
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

test(backend): add user factory
  bun.lock
  package.json
  packages/apps/backend/tests/factory/user.factory.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/app/users/users.controller.spec.ts
Due: sort-package-json, check-secret-lint

chore(mobile): update api types
  packages/apps/mobile/generated/types/api.d.ts
Due: check-secret-lint

feat(backend): remove logics related to hard deleting
  packages/apps/backend/prisma/aggregate/user.prisma
  packages/apps/backend/prisma/migrations/20250727223832_create_users_table/migration.sql
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.app.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.constants.ts
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/src/modules/api/app/users/users.controller.ts
  scripts/check-prisma-model-definition.sh
Due: check-secret-lint

test(backend): add testcases
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
Due: check-secret-lint

chore(admin): update api types
  packages/apps/admin/generated/types/api.d.ts
Due: check-secret-lint

test(backend): update tests
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
  packages/apps/backend/tests/e2e/api/app/users.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.input.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/app/users/users.controller.spec.ts
Due: check-secret-lint

test(admin): update test cases
  packages/apps/admin/package.json
  packages/apps/admin/tests/integration/pages/admin-users-api.cy.ts
  packages/apps/admin/tests/integration/pages/simple-test.cy.ts
  packages/apps/admin/tests/msw/handlers.ts
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
  packages/apps/backend/tests/e2e/api/app/users.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: update CLAUDE.md
  CLAUDE.md
Due: none

style: format
  CLAUDE.md
  packages/apps/backend/tests/unit/modules/aggregate/user/user.input.dto.spec.ts
Due: check-secret-lint

Revert "chore: Update storybook-react-native monorepo to ^9.1.0 (#139)"
  bun.lock
  package.json
Due: sort-package-json

chore: move @storybook/addon-ondevice- packages
  bun.lock
  package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): add tsconfig.storybook.json
  packages/apps/mobile/package.json
  packages/apps/mobile/tsconfig.storybook.json
Due: sort-package-json, check-secret-lint

chore: update gitignore
  .gitignore
Due: none

chore: update gitignore (#157)
  .gitignore
Due: none

chore: add serena slash commands
  .claude/commands/serena.md
Due: check-secret-lint

Update .claude/commands/serena.md
  .claude/commands/serena.md
Due: check-secret-lint
