Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update dependency firebase-admin to v13.9.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Pin dependencies
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-preview.yml
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update secretlint monorepo to v13
  bun.lock
  package.json
Due: sort-package-json

chore: Pin dependencies (#776)
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-preview.yml
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-admin to v13.9.0 (#775)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.6 (#773)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

fix(root): unblock secretlint v13 and typescript-eslint upgrades
  .secretlintignore
  packages/libs/eslint-plugins/src/plugin-backend/utils/prisma-helpers.ts
Due: check-secret-lint

fix(root): unblock secretlint v13 and typescript-eslint upgrades (#778)
  .secretlintignore
  packages/libs/eslint-plugins/src/plugin-backend/utils/prisma-helpers.ts
Due: check-secret-lint

fix(root): unblock secretlint v13 cascade and tighten typescript-eslint
  packages/apps/admin/.gitignore
  packages/apps/backend/tests/src/domain/utils/publicize.spec.ts
Due: check-secret-lint

fix(root): unblock secretlint v13 cascade and tighten typescript-eslint (#779)
  packages/apps/admin/.gitignore
  packages/apps/backend/tests/src/domain/utils/publicize.spec.ts
Due: check-secret-lint

chore: Update secretlint monorepo to v13 (#777)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#780)
  bun.lock
  package.json
Due: sort-package-json

chore: Update eslint monorepo to v10
  bun.lock
  package.json
Due: sort-package-json

fix: pin jest-environment-node to 30.4.0 via overrides
  bun.lock
  package.json
Due: sort-package-json

fix: restore @prisma/adapter-pg@7.1.0 from drift
  bun.lock
Due: none

chore: Update Root other dependencies (non-major) (#782)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#783)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#785)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency turbo to v2.9.12
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency turbo to v2.9.12 (#786)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#787)
  bun.lock
  package.json
Due: sort-package-json

feat(backend): scaffold Effect-native backend-next package with Drizzle and BetterAuth
  bun.lock
  packages/apps/backend-next/.env.example
  packages/apps/backend-next/README.md
  packages/apps/backend-next/drizzle.config.ts
  packages/apps/backend-next/eslint.config.ts
  packages/apps/backend-next/package.json
  packages/apps/backend-next/src/apps/admin-api/main.ts
  packages/apps/backend-next/src/apps/app-api/main.ts
  packages/apps/backend-next/src/auth/admin-auth.ts
  packages/apps/backend-next/src/auth/app-auth.ts
  packages/apps/backend-next/src/auth/email.ts
  packages/apps/backend-next/src/config/env.ts
  packages/apps/backend-next/src/http/api-admin/health.api.ts
  packages/apps/backend-next/src/http/api-app/health.api.ts
  packages/apps/backend-next/src/http/handlers-admin/health/health.handler.ts
  packages/apps/backend-next/src/http/handlers-app/health/health.handler.ts
  packages/apps/backend-next/src/observability/correlation-id.ts
  packages/apps/backend-next/src/observability/logger.ts
  packages/apps/backend-next/src/repository/db.ts
  packages/apps/backend-next/src/repository/schema/admin-auth.ts
  packages/apps/backend-next/src/repository/schema/app-auth.ts
  packages/apps/backend-next/src/repository/schema/index.ts
  packages/apps/backend-next/tsconfig.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.20
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.1.14
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.14 (#790)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.20 (#789)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#788)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency bun to v1.3.14
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#792)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.14 (#793)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) to v13.0.2
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v13.0.2 (#794)
  bun.lock
  package.json
Due: sort-package-json
