Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major) (#536)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.8 (#535)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.0.9 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.0.9 [SECURITY] (#537)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.0.10 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v10.1.5
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency next to v16.0.10 [SECURITY] (#538)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v10.1.5 (#539)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#540)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.10
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#542)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.10 (#541)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency bun to v1.3.4
  .tool-versions
Due: none

chore: Update Node.js to v24.12.0
  .tool-versions
Due: none

chore(backend): update deps of nestjs
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency bun to v1.3.4 (#543)
  .tool-versions
Due: none

chore: Update Node.js to v24.12.0 (#544)
  .tool-versions
Due: none

chore(backend): update deps of nestjs (#545)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-tools to v15
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#547)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#549)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency storybook to v10.1.10 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency storybook to v10.1.10 [SECURITY] (#550)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency firebase-tools to v15 (#548)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25 (#546)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#551)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25.0.2
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25.0.2 (#552)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#553)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.1.10
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.1.10 (#554)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.0
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
