Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

fix: replace optional chaining with toHaveProperty in useAppUpdates tests
  packages/apps/mobile/tests/unit/features/updates/hooks/useAppUpdates.test.ts
Due: check-secret-lint

feat(backend): add Phase 5A DDD evolution - UpdateUserService, changeName/changeStatus events
  Makefile
  README.md
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/app/users/users.controller.ts
  packages/apps/backend/src/apis/app/users/users.module.ts
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/events/index.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-name-changed.event.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-status-changed.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/usecases/user/update-user.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/utils/metrics/dogstatsd.metrics.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-name-changed.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-status-changed.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/update-user.service.spec.ts
Due: check-secret-lint

chore: update bun.lock
  bun.lock
Due: none

style: format
  packages/apps/mobile/tests/unit/features/updates/hooks/useAppUpdates.test.ts
Due: check-secret-lint

fix: replace optional chaining with toHaveProperty in backend tests
  packages/apps/backend/tests/src/apis/utils/extract-token-from-http-headers.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#646)
  bun.lock
  package.json
  packages/apps/backend/tests/src/apis/utils/extract-token-from-http-headers.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
  packages/apps/mobile/tests/unit/features/updates/hooks/useAppUpdates.test.ts
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

fix(backend): address PR review - persist aggregate state, add same-value guards
  packages/apps/backend/src/domain/aggregates/user/events/user-status-changed.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/usecases/user/update-user.service.ts
  packages/apps/backend/src/domain/utils/value-objects/user-status.vo.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#651)
  bun.lock
  package.json
Due: sort-package-json

test(backend): add non-Error branch coverage for catch blocks
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
Due: check-secret-lint

refactor(backend): consolidate UpdateUserService conditionals, fix JSDoc
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/usecases/user/update-user.service.ts
Due: check-secret-lint

feat(backend): add Phase 5A DDD evolution - UpdateUserService + changeName/changeStatus events (#650)
  Makefile
  README.md
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/app/users/users.controller.ts
  packages/apps/backend/src/apis/app/users/users.module.ts
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/events/index.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-name-changed.event.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-status-changed.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/usecases/user/update-user.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/domain/utils/value-objects/user-status.vo.ts
  packages/apps/backend/src/utils/metrics/dogstatsd.metrics.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-name-changed.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-status-changed.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/update-user.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
Due: check-secret-lint

feat(backend): add Phase 5B - bulk operation events and admin delete alignment
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
Due: check-secret-lint

fix(backend): add Firebase bulk deletion to BulkDeleteUsersService, address PR review
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
Due: check-secret-lint

fix(backend): add FB0009 HTTP mapping, Firebase batch limit guard, deleteUsers tests
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

refactor(backend): address review round 3 - switch, JSDoc, Firebase partial failure log
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
Due: check-secret-lint

fix(root): add Uids/uids to cspell dictionary, rename evt test data
  cspell.config.js
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
Due: check-secret-lint

refactor(backend): address review round 4 - JSDoc accuracy, error detail logging, simplifications
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
Due: check-secret-lint

refactor(backend): address review round 5 - error detail parity, API summary, switch consolidation
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

refactor(backend): fix batch-limit guard detail/cause inversion in deleteUsers
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

chore(admin): regenerate API types after @ApiOperation summary change
  packages/apps/admin/generated/types/api.d.ts
Due: check-secret-lint

feat(backend): add Phase 5B - bulk operation events and admin delete alignment (#652)
  cspell.config.js
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/src/apis/admin/users/users.controller.ts
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

refactor(backend): consolidate PR review fixes for Phase 5B
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/helpers/firebase-auth-emulator.helper.ts
  packages/apps/backend/tests/src/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

refactor(backend): remove Firebase UIDs from error detail, add fix-review skill
  .claude/skills/fix-review/SKILL.md
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

fix(backend): use emulator admin API for getUserByUid lookup
  packages/apps/backend/tests/helpers/firebase-auth-emulator.helper.ts
Due: check-secret-lint

feat(backend): Phase 5B - bulk ops, admin delete alignment (#653)
  .claude/skills/fix-review/SKILL.md
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.service.ts
  packages/apps/backend/tests/helpers/firebase-auth-emulator.helper.ts
  packages/apps/backend/tests/src/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

feat(backend): add Phase 6 - environment validation and ConfigService integration
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/config/env-validation.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/src/repository/repository.service.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/config/env-validation.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: check-secret-lint

refactor(backend): address review - typed ConfigService, validate FIREBASE_CHECK_REVOKED
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/config/env-validation.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/src/repository/repository.service.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/config/env-validation.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#655)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v8.56.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v8.56.0 (#656)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.14
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#658)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.14 (#657)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.4.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency eslint-plugin-cypress to v6
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-cypress to v6 (#661)
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
