Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: document branch strategy in CLAUDE.md
  CLAUDE.md
Due: none

chore: fix cspell and prettier issues in CLAUDE.md
  CLAUDE.md
  cspell.config.js
Due: none

chore: Update Backend other dependencies (non-major) to v11.1.13
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/node to ^20.19.30
  .agents/skills/nestjs-best-practices/scripts/package-lock.json
  .agents/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#618)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to ^20.19.30 (#617)
  .agents/skills/nestjs-best-practices/scripts/package-lock.json
  .agents/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.13 (#616)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

build: update turbo config
  turbo.json
Due: none

build: update turbo config
  .github/actions/build-eslint-packages/action.yml
  .github/workflows/ci-static.yml
Due: check-secret-lint

build: update turbo config
  .prettierignore
  eslint.config.ts
Due: none

build: update turbo config
  .github/workflows/ci-static.yml
Due: check-secret-lint

build: update turbo config
  .github/workflows/ci-static.yml
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/scripts/gen.api-types.ts
  packages/apps/mobile/scripts/start.dev.ts
Due: check-secret-lint

build: update turbo config
  cspell.config.js
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: update cspell config
  cspell.config.js
Due: none

chore: update cspell config
  cspell.config.js
  packages/libs/eslint-configs/src/shared-ignores.ts
Due: check-secret-lint

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#620)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#621)
  bun.lock
  package.json
Due: sort-package-json

docs: add RuleSync resource mapping with use cases
  .rulesync/rules/rules.md
Due: check-secret-lint

docs: add RuleSync resource mapping with use cases (#622)
  .rulesync/rules/rules.md
Due: check-secret-lint

docs: add commands
  .rulesync/commands/accessibility-review.md
  .rulesync/commands/audit-types.md
  .rulesync/commands/plan.md
  .rulesync/commands/polish.md
  .rulesync/commands/pre-commit.md
  .rulesync/rules/rules.md
Due: check-secret-lint

docs: remove references to deleted skills from resource mapping
  .rulesync/rules/rules.md
Due: check-secret-lint

style: format
  .rulesync/commands/plan.md
  .rulesync/commands/revise-rules.md
  .rulesync/rules/rules.md
  .rulesync/skills/agent-instructions-improver/SKILL.md
  .rulesync/skills/agent-instructions-improver/references/templates.md
Due: check-secret-lint

ci: optimize static workflows
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
Due: check-secret-lint

chore: Update actions/checkout action to v6
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update actions/configure-pages action to v5
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
