Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

ci: fix prisma:schema:diff:check
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-tools to v14.26.0 (#505)
  bun.lock
  package.json
Due: sort-package-json

fix(backend): import path
  packages/apps/backend/src/repository/utils/prisma.error.ts
  packages/apps/backend/src/repository/utils/repository.error.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
Due: check-secret-lint

fix(backend): update Repository Service
  .github/actions/setup-bun/action.yml
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/src/repository/repository.service.ts
Due: sort-package-json, check-secret-lint

ci: fix setup bun action
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

test(backend): helper
  packages/apps/backend/tests/helpers/database.helper.ts
Due: check-secret-lint

chore(backend): update prisma.config.ts (#504)
  .github/actions/setup-bun/action.yml
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/prisma.config.ts
  packages/apps/backend/src/repository/repository.service.ts
  packages/apps/backend/src/repository/schema.prisma
  packages/apps/backend/src/repository/utils/prisma.error.ts
  packages/apps/backend/src/repository/utils/repository.error.ts
  packages/apps/backend/tests/helpers/database.helper.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
Due: sort-package-json, check-secret-lint

ci: fix setup bun action (#506)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.3
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#507)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.3 (#508)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#509)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.4
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency class-validator to v0.14.3
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#512)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.4 (#510)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency class-validator to v0.14.3 (#511)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.0.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v44.0.4
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44.0.4 (#515)
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: change renovate cache directory
  .github/workflows/renovate.yml
Due: check-secret-lint

style: format
  .github/workflows/renovate.yml
Due: check-secret-lint

fix: log's path
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: change renovate cache directory (#516)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update Backend other dependencies (non-major) to v7.0.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#514)
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.5
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v10.1.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.1.0 (#518)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.5 (#517)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout digest to 8e8c483
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#519)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/checkout digest to 8e8c483 (#520)
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
