Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Backend other dependencies (non-major) (#791)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-config-expo to v56
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#795)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency npm-run-all2 to v9
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#799)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#798)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency npm-run-all2 to v9 (#797)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Node.js to v24.16.0
  .tool-versions
Due: none

chore: Update Node.js to v24.16.0 (#801)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#800)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.24
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.24 (#803)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#802)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#804)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency lefthook to v2.1.9
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency lefthook to v2.1.9 (#805)
  bun.lock
  package.json
Due: sort-package-json

chore: Update expo monorepo to v56
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#806)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.0.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/checkout digest to df4cb1c
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) to v10.0.1 (#808)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#810)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.2.7
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update expo/expo-github-action action to v9
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-preview.yml
Due: check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.7 (#812)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#811)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#814)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#815)
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
