Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

fix: type
  packages/apps/admin/tests/unit/vitest.config.ts
Due: check-secret-lint

ci: fix renovate
  .github/renovate.json
Due: check-secret-lint

style: format
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate (#271)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate (#273)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate (#278)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate (#286)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovte (#288)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate (#289)
  .github/renovate.json
Due: check-secret-lint

chore: update bun lock
  bun.lock
Due: none

style: fix eslint
  eslint.config.ts
  packages/apps/admin/eslint.config.ts
  packages/apps/admin/tests/storybook/stories/Button.tsx
  packages/apps/admin/tests/storybook/stories/Header.tsx
  packages/apps/admin/tests/storybook/stories/Page.tsx
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/tests/factory/admin-user.factory.ts
  packages/apps/backend/tests/factory/user.factory.ts
  packages/apps/mobile/eslint.config.ts
  packages/libs/eslint-configs/eslint.config.ts
  packages/libs/eslint-configs/src/eslint-config-base-script.ts
  packages/libs/eslint-configs/src/eslint-config-base.ts
  packages/libs/eslint-configs/src/eslint-config-cypress.ts
  packages/libs/eslint-configs/src/eslint-config-import.ts
  packages/libs/eslint-configs/src/eslint-config-jest.ts
  packages/libs/eslint-configs/src/eslint-config-playwright.ts
  packages/libs/eslint-configs/src/eslint-config-react-native.ts
  packages/libs/eslint-configs/src/eslint-config-react.ts
  packages/libs/eslint-configs/src/eslint-config-storybook.ts
  packages/libs/eslint-configs/src/eslint-config-typescript.ts
  packages/libs/eslint-configs/src/eslint-config-vitest.ts
  packages/libs/eslint-configs/types/eslint-plugin-cypress.d.ts
  packages/libs/eslint-configs/types/eslint-plugin-import.d.ts
  packages/libs/eslint-plugins/eslint.config.ts
Due: check-secret-lint

style: fix type error
  packages/apps/admin/tests/unit/vitest.config.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

chore: remove @vitejs/plugin-react
  bun.lock
  package.json
  packages/apps/admin/tests/unit/vitest.config.ts
Due: sort-package-json, check-secret-lint

test(mobile): fix
  .github/renovate.json
  bun.lock
  package.json
Due: sort-package-json, check-secret-lint

chore: remove vite-tsconfig-paths
  bun.lock
  package.json
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: sort-package-json, check-secret-lint

test(eslint-plugins): config
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

chore: resolve conflict
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update deps (#291)
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

ci: fix renovate (#292)
  .github/renovate.json
Due: check-secret-lint

ci: fix renovate
  .github/renovate.json
  .github/workflows/renovate.yml
  bun.lock
  package.json
  packages/apps/backend/package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

Update .github/workflows/renovate.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: remove @react-navigation/bottom-tabs
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: remove ts-prune
  .ts-prunerc
  package.json
  packages/apps/admin/.ts-prunerc
  packages/apps/admin/package.json
  packages/apps/backend/.ts-prunerc
  packages/apps/backend/package.json
  packages/apps/mobile/.ts-prunerc
  packages/apps/mobile/package.json
  packages/libs/eslint-configs/.ts-prunerc
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/.ts-prunerc
  packages/libs/eslint-plugins/package.json
  packages/libs/tsconfig-base/package.json
  scripts/check-deadcode.sh
Due: sort-package-json, check-secret-lint

chore: remove ts-prune
  bun.lock
  package.json
Due: sort-package-json

chore: remove deps
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

ci: fix renovate (#293)
  .github/renovate.json
  .github/workflows/renovate.yml
  .ts-prunerc
  bun.lock
  package.json
  packages/apps/admin/.ts-prunerc
  packages/apps/admin/package.json
  packages/apps/backend/.ts-prunerc
  packages/apps/backend/package.json
  packages/apps/mobile/.ts-prunerc
  packages/apps/mobile/package.json
  packages/libs/eslint-configs/.ts-prunerc
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/.ts-prunerc
  packages/libs/eslint-plugins/package.json
  packages/libs/tsconfig-base/package.json
  scripts/check-deadcode.sh
Due: sort-package-json, check-secret-lint

ci: fix renovate
  .github/renovate.json
  docker-compose.yml
Due: check-secret-lint

ci: fix renovate (#294)
  .github/renovate.json
  docker-compose.yml
Due: check-secret-lint

ci: fix renovate (#296)
  .github/renovate.json
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
