Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update renovatebot/github-action action to v46.1.17
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.17 (#838)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency dd-trace to v6
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency dd-trace to v6 (#839)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.28
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.28 (#840)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.1.18
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.18 (#841)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency typescript to v7
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/cli to v11.0.24
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/cli to v11.0.24 (#843)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/setup-node digest to 2499707
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update actions/setup-node digest to 2499707 (#844)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency @types/supertest to v7.2.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/supertest to v7.2.1 (#845)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.4.6
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.4.6 (#846)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @vitest/browser to v4.1.10 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/browser to v4.1.10 [SECURITY] (#847)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/checkout digest to d23441a
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.11
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.11 (#849)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.9.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.9.0 (#850)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.1.20
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.20 (#851)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/setup-node action to v7
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update actions/setup-node action to v7 (#852)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency @testing-library/jest-dom to v7
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @testing-library/jest-dom to v7 (#853)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.2.12
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.12 (#854)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.9.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.9.1 (#855)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency jsdom to v30
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v30 (#856)
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v46.1.21
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.1.21 (#857)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.2.0
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.2.0 (#858)
  .github/workflows/renovate.yml
Due: check-secret-lint
