Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Admin other dependencies (non-major) to v16.0.1 (#447)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency dotenv-cli to v11
  bun.lock
  package.json
Due: sort-package-json

test: fix jest config
  packages/apps/backend/tests/jest.config.ts
Due: check-secret-lint

chore: redo .tool-versions
  .tool-versions
Due: none

test/fix config (#453)
  packages/apps/backend/tests/jest.config.ts
Due: check-secret-lint

chore: Update renovatebot/github-action action to v43.0.19 (#451)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Node.js to v22.21.1 (#450)
  .tool-versions
Due: none

chore: Update dependency dotenv-cli to v11 (#452)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Node.js to v24
  .tool-versions
Due: none

chore: Update storybook monorepo to v10
  bun.lock
  package.json
Due: sort-package-json

chore: update cspell
  cspell.config.js
Due: none

chore: update cspell (#456)
  cspell.config.js
Due: none

chore: Update Node.js to v24 (#454)
  .tool-versions
Due: none

style: fix storybook config
  packages/libs/eslint-configs/src/eslint-config-storybook.ts
Due: check-secret-lint

test(admin): fix storybook config
  packages/apps/admin/tests/storybook/.storybook/main.ts
Due: check-secret-lint

test(mobile): fix storybook config
  bun.lock
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: Update storybook monorepo to v10 (major) (#455)
  bun.lock
  package.json
  packages/apps/admin/tests/storybook/.storybook/main.ts
  packages/apps/mobile/metro.config.js
  packages/apps/mobile/package.json
  packages/libs/eslint-configs/src/eslint-config-storybook.ts
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#457)
  bun.lock
  package.json
Due: sort-package-json

ci: update renovate config
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: update renovate config (#458)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#459)
  bun.lock
  package.json
Due: sort-package-json

chore(mobile): update expo
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(mobile): update expo (#460)
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

style(eslint-configs): disabled unified-signatures
  packages/libs/eslint-configs/src/eslint-config-typescript.ts
Due: check-secret-lint

style(mobile): lint
  packages/apps/mobile/app.config.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#461)
  bun.lock
  package.json
  packages/apps/mobile/app.config.ts
  packages/libs/eslint-configs/src/eslint-config-typescript.ts
Due: sort-package-json, check-secret-lint

chore: Update dependency globals to v16.5.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency globals to v16.5.0 (#462)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#463)
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v43.0.20
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#464)
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v43.0.20 (#465)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#467)
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
