Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Admin other dependencies (non-major) to v16.3.0
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.3.0 (#859)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.2.1
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.2.1 (#860)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency eslint-plugin-cypress to v7
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-cypress to v7 (#861)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/jsdom to v30
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/jsdom to v30 (#862)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.29
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.29 (#863)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.3.1
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.3.1 (#864)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency open to v11.0.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency open to v11.0.1 (#865)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.2.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.2.1 (#866)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.2.2
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.2.2 (#867)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update changesets/action action to v2
  .github/workflows/release.yml
Due: check-secret-lint

chore: Update changesets/action action to v2 (#868)
  .github/workflows/release.yml
Due: check-secret-lint

chore: Update dependency @nestjs/swagger to v11.4.7
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.4.7 (#869)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @changesets/cli to v3
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @changesets/cli to v3 (#870)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.3.2
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.3.2 (#871)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update changesets/action action to v2.1.1
  .github/workflows/release.yml
Due: check-secret-lint

chore: Update changesets/action action to v2.1.1 (#872)
  .github/workflows/release.yml
Due: check-secret-lint

chore: Update dependency bun to v1.4.0
  .tool-versions
Due: none

chore: Update dependency bun to v1.4.0 (#873)
  .tool-versions
Due: none

chore: Update Admin other dependencies (non-major) to v16.3.3
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.3.3 (#874)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#875)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.2.4
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v46.2.4 (#876)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency @nestjs/event-emitter to v12
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency open to v11.0.2
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency open to v11.0.2 (#878)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/jwt to v12
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
