Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update dependency @swc/core to v1.15.2 (#487)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#488)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency cspell to v9.3.2
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency open to v11
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency open to v11 (#490)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency cspell to v9.3.2 (#489)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.2.2
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @vitest/eslint-plugin to v1.4.3
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/eslint-plugin to v1.4.3 (#492)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.2.2 (#491)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#493)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/react to v19.2.6
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/react to v19.2.6 (#494)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-tools to v14.25.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v44.0.3
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44.0.3 (#497)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Backend other dependencies (non-major) (#495)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-tools to v14.25.1 (#496)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/cli to v11.0.12
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update prisma monorepo to v7
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#499)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/cli to v11.0.12 (#498)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update prisma monorepo to v7 (major) (#500)
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout action to v6
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

feat(mobile): update color scheme
  packages/apps/mobile/src/app/(tabs)/_layout.tsx
  packages/apps/mobile/src/components/Collapsible.tsx
  packages/apps/mobile/src/components/ThemedText.tsx
  packages/apps/mobile/src/constants/Colors.ts
Due: check-secret-lint

chore(mobile): update deps
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore(backend): update prisma.config.ts
  packages/apps/backend/prisma.config.ts
  packages/apps/backend/src/repository/schema.prisma
Due: check-secret-lint

feat(mobile): update color scheme (#501)
  bun.lock
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(tabs)/_layout.tsx
  packages/apps/mobile/src/components/Collapsible.tsx
  packages/apps/mobile/src/components/ThemedText.tsx
  packages/apps/mobile/src/constants/Colors.ts
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout action to v6 (#503)
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

style(backend): fix import style
  packages/apps/backend/tests/src/apis/utils/api-standard-response.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
Due: check-secret-lint

ci: fix setup-bun
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

test: fix helper
  packages/apps/backend/tests/helpers/database.helper.ts
Due: check-secret-lint

style: format
  packages/apps/backend/tests/src/apis/utils/api-standard-response.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#502)
  bun.lock
  package.json
  packages/apps/backend/tests/src/apis/utils/api-standard-response.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
Due: sort-package-json, check-secret-lint

chore: Update dependency firebase-tools to v14.26.0
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
