Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

chore: add Validate Prisma schema script
  scripts/validate-prisma-schema.sh
Due: none

chore: add validate-prisma-schema.sh
  Makefile
  scripts/validate-prisma-schema.sh
Due: none

chore: update CLAUDE.md
  CLAUDE.md
Due: none

chore: fix postinstall script
  scripts/postinstall.sh
Due: none

feat(backend): add @nestjs/swagger
  packages/apps/backend/package.json
Due: sort-package-json

feat(backend): add packages/apps/backend/src/common/utils/environment.ts
  packages/apps/backend/src/common/utils/environment.ts
Due: none

feat(backend): setup Swagger UI
  packages/apps/backend/src/main.ts
Due: none

feat(backend): add swagger friendly api properties
  packages/apps/backend/src/api/users/users.controllers.ts
  packages/apps/backend/src/services/user/user.dto.ts
  packages/apps/backend/src/services/user/user.repository.ts
  packages/apps/backend/src/services/user/user.service.ts
Due: none

chore: apply format
  CLAUDE.md
  cspell.config.js
  lefthook.yml
Due: none

chore: improve validate-prisma-schema.sh
  scripts/validate-prisma-schema.sh
Due: none

feat(backend): add deletedAt field
  packages/apps/backend/prisma/migrations/20250616203913_add_soft_delete/migration.sql
  packages/apps/backend/prisma/migrations/20250616205529_switch_to_deleted_tables/migration.sql
  packages/apps/backend/prisma/migrations/20250616211724_revert_to_soft_delete/migration.sql
  packages/apps/backend/prisma/migrations/20250616212129_add_createdat_index/migration.sql
  packages/apps/backend/prisma/schema.prisma
Due: validate-prisma-schema

feat(backend): add noPrismaDeleteOutsideHardDelete
  bun.lock
  package.json
  packages/apps/backend/.gitignore
  packages/apps/backend/eslint-rules/no-prisma-delete-outside-hard-delete.ts
  packages/apps/backend/eslint-rules/package.json
  packages/apps/backend/eslint-rules/tsconfig.json
  packages/apps/backend/eslint.config.mjs
Due: sort-package-json

feat(backend): apply noPrismaDeleteOutsideHardDelete
  packages/apps/backend/src/services/user/user.repository.ts
Due: none

chore: update Makefile
  Makefile
Due: none

feat(backend): add prismaFindNamingConvention
  packages/apps/backend/eslint-rules/prisma-find-naming-convention.ts
  packages/apps/backend/eslint.config.mjs
  packages/apps/backend/src/services/user/user.repository.ts
  packages/apps/backend/src/services/user/user.service.ts
Due: none

refactor: format
  packages/apps/backend/eslint-rules/package.json
  packages/apps/backend/eslint-rules/prisma-find-naming-convention.ts
  packages/apps/backend/eslint-rules/tsconfig.json
Due: sort-package-json

fix: prismaFindNamingConvention
  packages/apps/backend/eslint-rules/prisma-find-naming-convention.ts
  packages/apps/backend/src/services/user/user.repository.ts
Due: none

feat(backend): repositoryコマンドの拡充
  packages/apps/backend/src/services/user/user.repository.ts
Due: none

chore(backend): add prismaUpdateNamingConvention
  packages/apps/backend/eslint-rules/prisma-update-naming-convention.ts
  packages/apps/backend/eslint.config.mjs
Due: none

chore: format
  packages/apps/backend/eslint-rules/no-prisma-delete-outside-hard-delete.ts
  packages/apps/backend/eslint-rules/prisma-update-naming-convention.ts
Due: none

feat(backend): add StrictOmit
  packages/apps/backend/src/common/types/strict-omit.ts
Due: none

chore(backend): improve prisma-update-naming-convention
  cspell.config.js
  packages/apps/backend/eslint-rules/bun.lock
  packages/apps/backend/eslint-rules/package.json
  packages/apps/backend/eslint-rules/prisma-update-naming-convention.ts
  packages/apps/backend/src/services/user/user.repository.ts
Due: sort-package-json

chore(backend): improve prisma-update-naming-convention
  packages/apps/backend/eslint-rules/prisma-update-naming-convention.ts
  packages/apps/backend/src/services/user/user.repository.ts
Due: none

chore(backend): add prismaCreateNoDeletedAt
  packages/apps/backend/eslint-rules/src/index.ts
  packages/apps/backend/eslint-rules/src/no-prisma-delete-outside-hard-delete.ts
  packages/apps/backend/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/apps/backend/eslint-rules/src/prisma-find-naming-convention.ts
  packages/apps/backend/eslint-rules/src/prisma-update-naming-convention.ts
  packages/apps/backend/eslint-rules/tsconfig.json
  packages/apps/backend/eslint.config.mjs
  packages/apps/backend/src/services/user/user.repository.ts
Due: none

refactor(eslint-rules): init eslint-rules package
  Makefile
  bun.lock
  packages/apps/backend/eslint-rules/bun.lock
  packages/apps/backend/eslint.config.mjs
  packages/apps/backend/package.json
  packages/libs/eslint-rules/package.json
  packages/libs/eslint-rules/src/index.ts
  packages/libs/eslint-rules/src/no-prisma-delete-outside-hard-delete.ts
  packages/libs/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/src/prisma-find-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-update-naming-convention.ts
  packages/libs/eslint-rules/tsconfig.json
Due: sort-package-json

refactor(eslint-rules): improve rules
  cspell.config.js
  packages/apps/backend/eslint.config.mjs
  packages/apps/backend/src/services/user/user.repository.ts
  packages/libs/eslint-rules/src/index.ts
  packages/libs/eslint-rules/src/no-prisma-delete-outside-hard-delete.ts
  packages/libs/eslint-rules/src/prisma-create-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/src/prisma-delete-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-update-naming-convention.ts
Due: none

test(eslint-rules): add vitest
  bun.lock
  cspell.config.js
  package.json
  packages/libs/eslint-rules/eslint.config.mjs
  packages/libs/eslint-rules/package.json
  packages/libs/eslint-rules/tsconfig.build.json
  packages/libs/eslint-rules/tsconfig.json
  packages/libs/eslint-rules/vitest.config.mts
Due: sort-package-json

chore: remove unused dependency
  bun.lock
Due: none

refactor(eslint-rules): remove unused function
  packages/libs/eslint-rules/src/prisma-create-naming-convention.ts
Due: none

refactor(eslint-rules): change export expression
  packages/libs/eslint-rules/src/prisma-create-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/src/prisma-delete-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-find-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-update-naming-convention.ts
Due: none

test(eslint_rules): add test of prisma-create-naming-convention
  packages/libs/eslint-rules/tests/prisma-create-naming-convention.test.ts
Due: none

chore(eslint-rules): modify export style
  packages/apps/backend/eslint.config.mjs
  packages/libs/eslint-rules/src/index.ts
Due: none

test(eslint-rules): add test of prisma-create-no-deleted-at
  packages/libs/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/tests/prisma-create-no-deleted-at.test.ts
Due: none

chore: format
  packages/libs/eslint-rules/src/index.ts
  packages/libs/eslint-rules/tests/prisma-create-naming-convention.test.ts
  packages/libs/eslint-rules/tests/prisma-create-no-deleted-at.test.ts
  packages/libs/eslint-rules/tsconfig.build.json
Due: none

test(eslint-rules): add test of prisma-delete-naming-convention
  packages/libs/eslint-rules/src/prisma-delete-naming-convention.ts
  packages/libs/eslint-rules/tests/prisma-delete-naming-convention.test.ts
Due: none

chore(eslint-rules): modify npm test script
  packages/libs/eslint-rules/package.json
Due: sort-package-json

test(eslint-rules): modify vitest config
  packages/libs/eslint-rules/vitest.config.mts
Due: none

test(eslint-rules): add test of prisma-find-naming-convention
  packages/libs/eslint-rules/src/prisma-find-naming-convention.ts
  packages/libs/eslint-rules/tests/prisma-find-naming-convention.test.ts
Due: none

chore(eslint-rules): modify prisma-update-naming-convention
  packages/libs/eslint-rules/src/prisma-update-naming-convention.ts
Due: none

refactor(eslint-rules): all rules
  packages/libs/eslint-rules/src/prisma-create-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/src/prisma-delete-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-find-naming-convention.ts
  packages/libs/eslint-rules/src/prisma-update-naming-convention.ts
  packages/libs/eslint-rules/src/utils/prisma-helpers.ts
Due: none

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
