Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

test: improve
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/e2e/apis/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/apis/admin/users.spec.ts
  packages/apps/backend/tests/e2e/apis/app/users.spec.ts
  packages/apps/backend/tests/helpers/database.helper.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/integration/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/unit/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/unit/utils/errors/error-code.spec.ts
Due: check-secret-lint

test: all test files
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/tests/unit/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/unit/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/unit/repository/utils/repository.error.spec.ts
Due: check-secret-lint

test: all test files
  packages/apps/backend/tests/jest.config.ts
  packages/apps/backend/tests/unit/apis/utils/decorators/current-user.decorator.spec.ts
Due: check-secret-lint

test: e2e
  packages/apps/backend/tests/e2e/apis/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/apis/admin/users.spec.ts
  packages/apps/backend/tests/e2e/apis/app/users.spec.ts
Due: check-secret-lint

test: unit
  packages/apps/backend/package.json
  packages/apps/backend/tests/jest.config.ts
  packages/apps/backend/tests/unit/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/helpers/index.ts
  packages/apps/backend/tests/unit/helpers/mock-service.helper.ts
  packages/apps/backend/tests/unit/helpers/service-mocks.ts
  packages/apps/backend/tests/unit/helpers/test-module.helper.ts
Due: sort-package-json, check-secret-lint

test: integration
  packages/apps/backend/tests/integration/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/integration/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

fix: some files
  packages/apps/backend/src/repository/repository.service.ts
  packages/apps/backend/src/repository/utils/prisma.error.ts
  packages/apps/backend/src/repository/utils/repository.error.ts
Due: check-secret-lint

test: all
  packages/apps/backend/tests/e2e/apis/admin/admin-users.spec.ts
  packages/apps/backend/tests/e2e/apis/admin/users.spec.ts
  packages/apps/backend/tests/e2e/apis/app/users.spec.ts
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/admin/users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/app/users.controller.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/integration/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/apis/utils/api-default-response.spec.ts
  packages/apps/backend/tests/unit/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/unit/apis/utils/ensure-public-ids-to-array.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/domain/utils/domain.error.spec.ts
  packages/apps/backend/tests/unit/domain/utils/publicize.spec.ts
  packages/apps/backend/tests/unit/repository/repository.service.spec.ts
  packages/apps/backend/tests/unit/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/unit/repository/utils/repository.error.spec.ts
  packages/apps/backend/tests/unit/utils/environment.spec.ts
  packages/apps/backend/tests/unit/utils/errors/common.error.spec.ts
  packages/apps/backend/tests/unit/utils/errors/error-code.spec.ts
  packages/apps/backend/tests/unit/utils/errors/unknown.error.spec.ts
Due: check-secret-lint

test: e2e
  packages/apps/backend/tests/e2e/apis/app/decorators-and-guards.spec.ts
Due: check-secret-lint

test: all test files
  packages/apps/backend/tests/e2e/apis/admin/admin-users.spec.ts
  packages/apps/backend/tests/unit/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/unit/repository/utils/prisma.error.spec.ts
  packages/apps/backend/tests/unit/repository/utils/repository.error.spec.ts
Due: check-secret-lint

test: improve coverage
  packages/apps/backend/tests/unit/domain/utils/admin-user-dto.spec.ts
  packages/apps/backend/tests/unit/domain/utils/user-dto.spec.ts
Due: check-secret-lint

ci: validate pr title
  .github/workflows/validate-pr-title.yml
Due: check-secret-lint

style: format
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
Due: check-secret-lint

test: unit
  packages/apps/backend/tests/unit/domain/aggregates/admin-user/admin-user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/domain/helpers/domain-service-mocks.ts
  packages/apps/backend/tests/unit/helpers/mock-service.helper.ts
  packages/apps/backend/tests/unit/helpers/test-module.helper.ts
  packages/apps/backend/tests/unit/utils/errors/common.error.spec.ts
  packages/apps/backend/tests/unit/utils/helpers/date-mock.helper.ts
Due: check-secret-lint

test: reorganize
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/admin/admin-users/admin-users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/app/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/apis/helpers/index.ts
  packages/apps/backend/tests/unit/apis/helpers/mock-service.helper.ts
  packages/apps/backend/tests/unit/apis/helpers/service-mocks.ts
  packages/apps/backend/tests/unit/apis/helpers/test-module.helper.ts
Due: check-secret-lint

test: integration
  packages/apps/backend/tests/integration/apis/admin/admin-users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/admin/users.controller.spec.ts
  packages/apps/backend/tests/integration/apis/helpers/api-integration.helper.ts
  packages/apps/backend/tests/integration/domain/aggregates/admin-user/admin-user.query.service.spec.ts
  packages/apps/backend/tests/integration/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/domain/helpers/domain-integration.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-module.helper.ts
  packages/apps/backend/tests/integration/helpers/integration-test-setup.helper.ts
Due: check-secret-lint

chore: restore mobile package.json
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

docs: update
  CLAUDE.md
  README.md
  packages/apps/backend/docs/templates/module.md
Due: check-secret-lint

ci: update renovate config
  .github/renovate.json
Due: check-secret-lint

ci: update renovate config (#246)
  .github/renovate.json
Due: check-secret-lint

chore: introduce codex
  AGENTS.md
  README.md
Due: none

style: format
  AGENTS.md
  README.md
Due: none

chore: introduce codex (#248)
  AGENTS.md
  README.md
Due: none

chore: update faker-js
  bun.lock
  package.json
  packages/apps/backend/babel.config.js
  packages/apps/backend/tests/jest.config.ts
Due: sort-package-json, check-secret-lint

style: cspell
  cspell.config.js
Due: none

chore: update faker-js (#249)
  bun.lock
  cspell.config.js
  package.json
  packages/apps/backend/babel.config.js
  packages/apps/backend/tests/jest.config.ts
Due: sort-package-json, check-secret-lint

ci: fix renovate
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: fix renovate (#250)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

ci: add root scope
  .github/workflows/validate-pr-title.yml
  commitlint.config.js
Due: check-secret-lint

ci: renovate
  .github/renovate.json
Due: check-secret-lint

style: format
  .github/renovate.json
Due: check-secret-lint

style: renovate.json
  .github/renovate.json
Due: check-secret-lint

style: eslint
  Makefile
  eslint.config.ts
Due: none

fix: type
  packages/apps/admin/eslint.config.ts
  packages/apps/admin/tests/unit/vitest.config.ts
  packages/apps/backend/eslint.config.ts
  packages/libs/eslint-configs/eslint.config.ts
  packages/libs/eslint-plugins/eslint.config.ts
  packages/libs/eslint-plugins/tests/vitest.config.mts
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
