Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update dependency @swc/core to v1.15.21
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @swc/core to v1.15.21 (#715)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency typescript to v6
  bun.lock
  package.json
Due: sort-package-json

fix: remove redundant type argument for SuperTest to fix ESLint error
  packages/apps/backend/tests/helpers/testing-app.helper.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#716)
  bun.lock
  package.json
  packages/apps/backend/tests/helpers/testing-app.helper.ts
Due: sort-package-json, check-secret-lint

fix: remove deprecated baseUrl option for TypeScript 6 compatibility
  packages/apps/admin/tests/integration/tsconfig.json
  packages/apps/backend/tsconfig.json
  packages/libs/eslint-configs/tsconfig.json
  packages/libs/eslint-plugins/tsconfig.json
Due: check-secret-lint

fix: resolve TypeScript 6 compatibility issues across the monorepo
  packages/apps/admin/tsconfig.json
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/tsconfig.json
  packages/apps/mobile/tsconfig.json
  packages/libs/eslint-configs/tsconfig.json
  packages/libs/eslint-plugins/tsconfig.json
  tsconfig.json
Due: check-secret-lint

fix: add explicit rootDir to backend tsconfig.build.json
  packages/apps/backend/tsconfig.build.json
Due: check-secret-lint

chore: Update Node.js to v24.14.1
  .tool-versions
Due: none

chore: Update Node.js to v24.14.1 (#719)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#718)
  bun.lock
  package.json
Due: sort-package-json

fix: add ignoreDeprecations for Cypress TS6 compatibility
  packages/apps/admin/tests/integration/tsconfig.json
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#720)
  bun.lock
  package.json
Due: sort-package-json

fix: disable react-docgen-typescript babel plugin for TS6 compatibility
  packages/apps/mobile/babel.config.js
Due: check-secret-lint

chore: Update dependency typescript to v6 (#717)
  bun.lock
  package.json
  packages/apps/admin/tests/integration/tsconfig.json
  packages/apps/admin/tsconfig.json
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/tsconfig.build.json
  packages/apps/backend/tsconfig.json
  packages/apps/mobile/babel.config.js
  packages/apps/mobile/tsconfig.json
  packages/libs/eslint-configs/tsconfig.json
  packages/libs/eslint-plugins/tsconfig.json
  tsconfig.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.6.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: merge branch 'develop' into feature/mobile-auth
  bun.lock
Due: none

chore: Update dependency firebase-tools to v15.12.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency firebase-tools to v15.12.0 (#722)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency turbo to v2.8.21
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.6.0 (#721)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency turbo to v2.8.21 (#723)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v11.4.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v11.4.1 (#724)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#726)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.2.2
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#728)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.2 (#727)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/core to v11.1.18 [SECURITY]
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency vite to v8.0.5 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency vite to v8.0.5 [SECURITY] (#731)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/core to v11.1.18 [SECURITY] (#730)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.18
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.18 (#732)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
