Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

ci: fix mobile teat workflow
  .github/actions/start-android-emulator/action.yml
Due: check-secret-lint

ci: fix mobile teat workflow
  .github/actions/start-mobile-on-android/action.yml
Due: check-secret-lint

ci: fix mobile teat workflow
  .github/actions/start-android-emulator/action.yml
  .github/actions/start-mobile-on-android/action.yml
  .github/workflows/ci-test.yml
Due: check-secret-lint

ci: add mobile teat workflow (#62)
  .github/actions/setup-mobile/action.yml
  .github/workflows/ci-test.yml
  bun.lock
  cspell.config.js
  package.json
  packages/apps/backend/package.json
  packages/apps/mobile/Makefile
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/eas.json
  packages/apps/mobile/tests/unit/jest.config.ts
Due: sort-package-json, check-secret-lint

ci: fix dependabot.yml
  .github/dependabot.yml
Due: check-secret-lint

Revert "chore(mobile): bump the react-native group across 1 directory with 9 updates (#59)"
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: update deps
  bun.lock
  package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

ci: fix dependabot.yml
  .github/dependabot.yml
  bun.lock
  package.json
Due: sort-package-json, check-secret-lint

ci: fix dependabot.yml (#63)
  .github/dependabot.yml
  bun.lock
  package.json
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

ci: add PR templates
  .github/pull_request_template/build.md
  .github/pull_request_template/chore.md
  .github/pull_request_template/ci.md
  .github/pull_request_template/docs.md
  .github/pull_request_template/feat.md
  .github/pull_request_template/fix.md
  .github/pull_request_template/perf.md
  .github/pull_request_template/refactor.md
  .github/pull_request_template/style.md
  .github/pull_request_template/test.md
  .github/workflows/auto-pr-template.yml
Due: check-secret-lint

ci: add PR templates
  .github/workflows/auto-pr-template.yml
Due: check-secret-lint

style: add empty lines
  .github/pull_request_template/build.md
  .github/pull_request_template/chore.md
  .github/pull_request_template/ci.md
  .github/pull_request_template/docs.md
  .github/pull_request_template/feat.md
  .github/pull_request_template/fix.md
  .github/pull_request_template/perf.md
  .github/pull_request_template/refactor.md
  .github/pull_request_template/style.md
  .github/pull_request_template/test.md
Due: check-secret-lint

ci: add pr teplates (#71)
  .github/pull_request_template/build.md
  .github/pull_request_template/chore.md
  .github/pull_request_template/ci.md
  .github/pull_request_template/docs.md
  .github/pull_request_template/feat.md
  .github/pull_request_template/fix.md
  .github/pull_request_template/perf.md
  .github/pull_request_template/refactor.md
  .github/pull_request_template/style.md
  .github/pull_request_template/test.md
  .github/workflows/auto-pr-template.yml
Due: check-secret-lint

ci: fix pr template
  .github/pull_request_template/ci.md
Due: check-secret-lint

ci: fix pr template
  .github/pull_request_template/build.md
  .github/pull_request_template/ci.md
  .github/pull_request_template/feat.md
  .github/pull_request_template/fix.md
  .github/pull_request_template/perf.md
  .github/pull_request_template/refactor.md
  .github/pull_request_template/test.md
Due: check-secret-lint

ci: fix dependabot.yml (#72)
  .github/dependabot.yml
  .github/pull_request_template/build.md
  .github/pull_request_template/ci.md
  .github/pull_request_template/feat.md
  .github/pull_request_template/fix.md
  .github/pull_request_template/perf.md
  .github/pull_request_template/refactor.md
  .github/pull_request_template/test.md
Due: check-secret-lint

ci: fix dependabot.yml (#85)
  .github/dependabot.yml
Due: check-secret-lint

ci: update renovate
  renovate.json
Due: none

chore: remove files
  .github/README.md
  .github/dependabot.yml
Due: check-secret-lint

chore: remove files
  package.json
  packages/apps/mobile/tsconfig.storybook.json
  scripts/test.sh
Due: sort-package-json, check-secret-lint

chore: remove files (#91)
  .github/README.md
  .github/dependabot.yml
  package.json
  packages/apps/mobile/tsconfig.storybook.json
  scripts/test.sh
Due: sort-package-json, check-secret-lint

refactor: files
  .github/actions/setup-mobile/action.yml
  .github/workflows/auto-pr-template.yml
  renovate.json
  scripts/lint-shell.sh
Due: check-secret-lint

refactor: files (#92)
  .github/actions/setup-mobile/action.yml
  .github/workflows/auto-pr-template.yml
  renovate.json
  scripts/lint-shell.sh
Due: check-secret-lint

feat(backend): change shcema
  packages/apps/backend/prisma/aggregate/user.prisma
Due: check-secret-lint

feat(backend): apply schema
  packages/apps/backend/Makefile
  packages/apps/backend/package.json
  packages/apps/backend/prisma/migrations/20250616155305_add_user_table/migration.sql
  packages/apps/backend/prisma/migrations/20250616203913_add_soft_delete/migration.sql
  packages/apps/backend/prisma/migrations/20250616205529_switch_to_deleted_tables/migration.sql
  packages/apps/backend/prisma/migrations/20250616211724_revert_to_soft_delete/migration.sql
  packages/apps/backend/prisma/migrations/20250616212129_add_createdat_index/migration.sql
  packages/apps/backend/prisma/migrations/20250727223832_create_users_table/migration.sql
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/src/modules/api/app/users/users.controller.ts
  packages/apps/backend/src/utils/ensure-public-ids-to-array.ts
  packages/apps/backend/src/utils/publicize.ts
  packages/apps/backend/tests/e2e/api/admin/users.spec.ts
  packages/apps/backend/tests/e2e/api/app/users.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/integration/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.admin.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.app.facade.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.command.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.input.dto.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.query.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.repository.service.spec.ts
  packages/apps/backend/tests/unit/modules/aggregate/user/user.response.dto.spec.ts
  packages/apps/backend/tests/unit/modules/api/admin/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/modules/api/app/users/users.controller.spec.ts
  packages/apps/backend/tests/unit/utils/ensure-ids-to-array.spec.ts
Due: sort-package-json, check-secret-lint

fix: createUserInputDto
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
Due: check-secret-lint

ci: update schema validation
  .github/workflows/ci-static.yml
  lefthook.yml
  packages/apps/backend/prisma/aggregate/user.prisma
  scripts/validate-prisma-schema.sh
Due: check-secret-lint

feat: apply schema's change to admin project
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/admin/tests/integration/pages/admin-users-api.cy.ts
  packages/apps/admin/tests/integration/pages/simple-test.cy.ts
  packages/apps/admin/tests/msw/handlers.ts
  packages/apps/mobile/generated/types/api.d.ts
Due: check-secret-lint

style: update eslint
  packages/apps/backend/eslint.config.ts
  packages/libs/eslint-plugins/src/plugin-backend/index.ts
  packages/libs/eslint-plugins/src/plugin-backend/no-internal-id.ts
  packages/libs/eslint-plugins/tests/plugin-backend/no-internal-id.test.ts
Due: check-secret-lint

ci: update
  .github/workflows/ci-static.yml
  cspell.config.js
  lefthook.yml
  scripts/check-prisma-model-definition.sh
Due: check-secret-lint

chore: remove schedule config from renovate.json
  renovate.json
Due: none
