Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

fix: address Copilot review feedback
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/ci-static.yml
  AGENTS.md
  package.json
Due: sort-package-json, check-secret-lint

fix: address review feedback on cache key and docs
  .github/actions/setup-turborepo-cache/action.yml
  AGENTS.md
  README.md
Due: check-secret-lint

chore: add Turborepo and claudedocs to cspell dictionary
  cspell.config.js
Due: none

fix: align local checks with CI and add turbo tokens to ci-test setup
  .github/workflows/ci-test.yml
  AGENTS.md
  CLAUDE.md
Due: check-secret-lint

feat: introduce Turborepo for build optimization (#608)
  .github/actions/build-eslint-packages/action.yml
  .github/actions/setup-base-project/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  bun.lock
  cspell.config.js
  package.json
  scripts/lint-es.sh
  scripts/type_check.sh
  turbo.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/node to v25.2.0
  bun.lock
  package.json
Due: sort-package-json

chore: Pin dependency turbo to 2.8.3
  bun.lock
  package.json
Due: sort-package-json

feat(mobile): add UpdateBanner component for EAS Update
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/features/updates/components/UpdateBanner.tsx
  packages/apps/mobile/src/features/updates/index.ts
Due: check-secret-lint

feat(mobile): add EAS Update foundation
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/docs/eas-update-architecture.md
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/features/updates/context/UpdatesProvider.tsx
  packages/apps/mobile/src/features/updates/hooks/useAppUpdates.ts
  packages/apps/mobile/src/features/updates/index.ts
Due: check-secret-lint

feat(mobile): add GitHub Actions workflows for EAS Update
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
Due: check-secret-lint

fix(root): add Turborepo inputs to EAS workflows
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
Due: check-secret-lint

chore: Pin dependency turbo to 2.8.3 (#610)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25.2.0 (#609)
  bun.lock
  package.json
Due: sort-package-json

fix(mobile): resolve ESLint and format issues
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/docs/eas-update-architecture.md
  packages/apps/mobile/scripts/gen.api-types.ts
  packages/apps/mobile/scripts/start.dev.ts
  packages/apps/mobile/src/features/updates/components/UpdateBanner.tsx
Due: check-secret-lint

fix(mobile): address Copilot review feedback
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  packages/apps/mobile/src/features/updates/components/UpdateBanner.tsx
Due: check-secret-lint

fix(root): use PR-specific branch for EAS preview updates
  .github/workflows/eas-preview.yml
Due: check-secret-lint

fix(mobile): apply pending updates directly with reloadAsync
  packages/apps/mobile/src/features/updates/hooks/useAppUpdates.ts
Due: check-secret-lint

test(mobile): add unit tests for EAS Update feature
  packages/apps/mobile/eslint.config.ts
  packages/apps/mobile/tests/unit/features/updates/components/UpdateBanner.test.tsx
  packages/apps/mobile/tests/unit/features/updates/context/UpdatesProvider.test.tsx
  packages/apps/mobile/tests/unit/features/updates/hooks/useAppUpdates.test.ts
Due: check-secret-lint

fix(mobile): fix format and EAS preview workflow
  .github/workflows/eas-preview.yml
  packages/apps/mobile/tests/unit/features/updates/context/UpdatesProvider.test.tsx
Due: check-secret-lint

fix(root): simplify EAS preview message to avoid shell escaping issues
  .github/workflows/eas-preview.yml
Due: check-secret-lint

ci: resolve eas command
  .github/workflows/eas-preview.yml
Due: check-secret-lint

docs(mobile): translate EAS Update architecture doc to English
  packages/apps/mobile/docs/eas-update-architecture.md
Due: check-secret-lint

feat(root): add EAS staging and development workflows
  .github/workflows/eas-development.yml
  .github/workflows/eas-staging.yml
Due: check-secret-lint

style: format
  .github/workflows/eas-preview.yml
  packages/apps/mobile/docs/eas-update-architecture.md
Due: check-secret-lint

feat(mobile): unify development channels and add storybook workflow
  .github/workflows/eas-storybook.yml
  packages/apps/mobile/eas.json
Due: check-secret-lint

ci: resolve channels
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
Due: check-secret-lint

feat(mobile): add EAS Update for OTA updates (#611)
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/docs/eas-update-architecture.md
  packages/apps/mobile/eas.json
  packages/apps/mobile/eslint.config.ts
  packages/apps/mobile/scripts/gen.api-types.ts
  packages/apps/mobile/scripts/start.dev.ts
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/features/updates/components/UpdateBanner.tsx
  packages/apps/mobile/src/features/updates/context/UpdatesProvider.tsx
  packages/apps/mobile/src/features/updates/hooks/useAppUpdates.ts
  packages/apps/mobile/src/features/updates/index.ts
  packages/apps/mobile/tests/unit/features/updates/components/UpdateBanner.test.tsx
  packages/apps/mobile/tests/unit/features/updates/context/UpdatesProvider.test.tsx
  packages/apps/mobile/tests/unit/features/updates/hooks/useAppUpdates.test.ts
Due: check-secret-lint

chore: Update dependency @golevelup/ts-jest to v1.2.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v28
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @golevelup/ts-jest to v1.2.1 (#612)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#613)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v28 (#614)
  bun.lock
  package.json
Due: sort-package-json

chore: add frontend-design agent skill
  .agents/skills/frontend-design/SKILL.md
  CLAUDE.md
Due: check-secret-lint

chore: add code-review, hookify, and pr-review-toolkit skills
  .agents/skills/code-review-plugin/.claude-plugin/plugin.json
  .agents/skills/code-review-plugin/README.md
  .agents/skills/code-review-plugin/commands/code-review.md
  .agents/skills/hookify/.claude-plugin/plugin.json
  .agents/skills/hookify/.gitignore
  .agents/skills/hookify/README.md
  .agents/skills/hookify/agents/conversation-analyzer.md
  .agents/skills/hookify/commands/configure.md
  .agents/skills/hookify/commands/help.md
  .agents/skills/hookify/commands/hookify.md
  .agents/skills/hookify/commands/list.md
  .agents/skills/hookify/core/__init__.py
  .agents/skills/hookify/core/config_loader.py
  .agents/skills/hookify/core/rule_engine.py
  .agents/skills/hookify/examples/console-log-warning.local.md
  .agents/skills/hookify/examples/dangerous-rm.local.md
  .agents/skills/hookify/examples/require-tests-stop.local.md
  .agents/skills/hookify/examples/sensitive-files-warning.local.md
  .agents/skills/hookify/hooks/__init__.py
  .agents/skills/hookify/hooks/hooks.json
  .agents/skills/hookify/hooks/posttooluse.py
  .agents/skills/hookify/hooks/pretooluse.py
  .agents/skills/hookify/hooks/stop.py
  .agents/skills/hookify/hooks/userpromptsubmit.py
  .agents/skills/hookify/matchers/__init__.py
  .agents/skills/hookify/skills/writing-rules/SKILL.md
  .agents/skills/hookify/utils/__init__.py
  .agents/skills/pr-review-toolkit-plugin/.claude-plugin/plugin.json
  .agents/skills/pr-review-toolkit-plugin/README.md
  .agents/skills/pr-review-toolkit-plugin/agents/code-reviewer.md
  .agents/skills/pr-review-toolkit-plugin/agents/code-simplifier.md
  .agents/skills/pr-review-toolkit-plugin/agents/comment-analyzer.md
  .agents/skills/pr-review-toolkit-plugin/agents/pr-test-analyzer.md
  .agents/skills/pr-review-toolkit-plugin/agents/silent-failure-hunter.md
  .agents/skills/pr-review-toolkit-plugin/agents/type-design-analyzer.md
  .agents/skills/pr-review-toolkit-plugin/commands/review-pr.md
  CLAUDE.md
Due: check-secret-lint

chore: add claude-md-management skill
  .agents/skills/claude-md-management/.claude-plugin/plugin.json
  .agents/skills/claude-md-management/README.md
  .agents/skills/claude-md-management/claude-md-improver-example.png
  .agents/skills/claude-md-management/commands/revise-claude-md.md
  .agents/skills/claude-md-management/revise-claude-md-example.png
  .agents/skills/claude-md-management/skills/claude-md-improver/SKILL.md
  .agents/skills/claude-md-management/skills/claude-md-improver/references/quality-criteria.md
  .agents/skills/claude-md-management/skills/claude-md-improver/references/templates.md
  .agents/skills/claude-md-management/skills/claude-md-improver/references/update-guidelines.md
  CLAUDE.md
Due: check-secret-lint

chore: exclude .agents from cspell, prettier, and eslint
  .prettierignore
  cspell.config.js
  packages/libs/eslint-configs/src/shared-ignores.ts
Due: check-secret-lint

chore: document develop as default branch in CLAUDE.md
  CLAUDE.md
Due: none
