Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update Root other dependencies (non-major) (#624)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/setup-node action to v6
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

feat(backend): add structured logging and error observability foundation
  .markdownlint.json
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/domain/utils/domain.error.ts
  packages/apps/backend/src/firebase-auth/utils/firebase.error.ts
  packages/apps/backend/src/repository/utils/repository.error.ts
  packages/apps/backend/src/utils/cls/cls-store.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/src/utils/errors/error-category.ts
  packages/apps/backend/src/utils/errors/error-severity.ts
  packages/apps/backend/src/utils/errors/unknown.error.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: sort-package-json, check-secret-lint

fix(backend): address PR review feedback for observability foundation
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/modules/observability.module.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

chore: Update actions/setup-node action to v6 (#627)
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update actions/configure-pages action to v5 (#626)
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update actions/checkout action to v6 (#625)
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update dependency @types/node to ^20.19.32
  .rulesync/skills/nestjs-best-practices/scripts/package-lock.json
  .rulesync/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/upload-pages-artifact action to v4
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update dependency @types/node to ^20.19.32 (#629)
  .rulesync/skills/nestjs-best-practices/scripts/package-lock.json
  .rulesync/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#630)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency node to v24
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
  .rulesync/skills/nestjs-best-practices/scripts/package-lock.json
  .rulesync/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: Update eslint monorepo to v10
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/upload-pages-artifact action to v4 (#631)
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
Due: check-secret-lint

chore: Update dependency node to v24 (#632)
  .rulesync/skills/nestjs-best-practices/.github/workflows/deploy.yml
  .rulesync/skills/nestjs-best-practices/scripts/package-lock.json
  .rulesync/skills/nestjs-best-practices/scripts/package.json
Due: sort-package-json, check-secret-lint

chore: update rulesync config
  .gitignore
  Makefile
  bun.lock
  package.json
  rulesync.jsonc
Due: sort-package-json

chore: update gitignore
  .gitignore
Due: none

fix(backend): make ClsModule global to resolve DI in GlobalExceptionFilter
  packages/apps/backend/src/apis/utils/modules/observability.module.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

docs: update readme
  README.md
Due: none

fix: add codexcli to cspell dictionary
  cspell.config.js
Due: none

chore: add Claude Code permissions to project settings
  .claude/settings.json
Due: check-secret-lint

chore: add rule for AI-generated docs location (docs/tmp/)
  .rulesync/rules/rules.md
Due: check-secret-lint

fix(backend): include stack trace in unhandled exception logs
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

fix(backend): address PR review findings for observability error handling
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/tests/src/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain.error.spec.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/common.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/unknown.error.spec.ts
Due: check-secret-lint

fix(backend): fix prettier formatting and add format:check to quality gates
  .rulesync/rules/rules.md
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
Due: check-secret-lint

docs: add allowed commands
  .claude/settings.json
Due: check-secret-lint

refactor(backend): address PR suggestions for error handling type safety
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain.error.spec.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/common.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/unknown.error.spec.ts
Due: check-secret-lint

feat(backend): add structured logging and error observability foundation (#628)
  .claude/settings.json
  .gitignore
  .markdownlint.json
  .rulesync/rules/rules.md
  Makefile
  README.md
  bun.lock
  cspell.config.js
  package.json
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/modules/observability.module.ts
  packages/apps/backend/src/domain/utils/domain.error.ts
  packages/apps/backend/src/firebase-auth/utils/firebase.error.ts
  packages/apps/backend/src/repository/utils/repository.error.ts
  packages/apps/backend/src/utils/cls/cls-store.ts
  packages/apps/backend/src/utils/errors/common.error.ts
  packages/apps/backend/src/utils/errors/error-category.ts
  packages/apps/backend/src/utils/errors/error-severity.ts
  packages/apps/backend/src/utils/errors/unknown.error.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain.error.spec.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
  packages/apps/backend/tests/src/repository/utils/repository.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/common.error.spec.ts
  packages/apps/backend/tests/src/utils/errors/unknown.error.spec.ts
  rulesync.jsonc
Due: sort-package-json, check-secret-lint

feat(backend): add Datadog APM integration and health checks (Phase 2)
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/src/apis/utils/health/health.module.ts
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/health.controller.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#634)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#636)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#637)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.4.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.4.0 (#639)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint
