Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#466)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v44
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44 (#469)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#468)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#470)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.2
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#471)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.2 (#472)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#473)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#474)
  bun.lock
  package.json
Due: sort-package-json

ci: turn off cache
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: downgrade firebase-tools (#475)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

Revert "chore: downgrade firebase-tools (#475)"
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Node.js to v24.11.1
  .tool-versions
Due: none

chore: Update renovatebot/github-action action to v44.0.2
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44.0.2 (#479)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Node.js to v24.11.1 (#478)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#477)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.2
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout digest to 93cb6ef
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#481)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.2 (#480)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout digest to 93cb6ef (#482)
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.3
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#484)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.0.3 (#483)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.9
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.9 (#485)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) to v4.0.9
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v4.0.9 (#486)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @swc/core to v1.15.2
  bun.lock
  package.json
Due: sort-package-json
