Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update dependency @types/node to v25.3.3 (#678)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @swc/core to v1.15.18
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/setup-node digest to 53b8394
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update actions/setup-node digest to 53b8394 (#680)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency @swc/core to v1.15.18 (#679)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update oven-sh/setup-bun digest to ecf28dd
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update oven-sh/setup-bun digest to ecf28dd (#682)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#681)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#683)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.15
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.15 (#684)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#685)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.2.15
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.2.15 (#686)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.16
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#688)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.16 (#687)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#689)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency lefthook to v2.1.3
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency lefthook to v2.1.3 (#690)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#691)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v30.3.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v30.3.0 (#692)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-cypress to v6.2.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-cypress to v6.2.0 (#693)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency turbo to v2.8.16
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency turbo to v2.8.16 (#694)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.5.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.5.0 (#695)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update oven-sh/setup-bun digest to 0c5077e
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency vite to v8
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency vite to v8 (#698)
  bun.lock
  package.json
Due: sort-package-json

chore: Update oven-sh/setup-bun digest to 0c5077e (#697)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
