Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, secretlint, dotenv-linter

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

secretlint:
  run: 'bunx secretlint {staged_files}
  
    '

dotenv-linter:
  run: 'bun run dotenv-linter:check
  
    bun run dotenv-linter:compare
  
    bun run dotenv-linter:fix
  
    git add {staged_files}
  
    '

fix: duplicated colon
  CLAUDE.md
  package.json
Due: sort-package-json

refactor: rename npm script commands (#31)
  .github/workflows/ci.yml
  CLAUDE.md
  lefthook.yml
  package.json
  packages/apps/admin/package.json
  packages/apps/backend/package.json
  packages/apps/mobile/package.json
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/package.json
  scripts/lint-es.sh
  scripts/lint-shell.sh
Due: sort-package-json, secretlint

ci: add ts-prune
  .github/workflows/ci.yml
  .ts-prunerc
  bun.lock
  cspell.config.js
  package.json
  packages/apps/admin/.ts-prunerc
  packages/apps/admin/Makefile
  packages/apps/admin/package.json
  packages/apps/admin/tests/e2e/fixtures.ts
  packages/apps/backend/.ts-prunerc
  packages/apps/backend/package.json
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/tests/e2e/helpers/http-test-utils.ts
  packages/apps/backend/tests/e2e/helpers/index.ts
  packages/apps/backend/tests/helpers/database-test-utils.ts
  packages/apps/backend/tests/unit/helpers/index.ts
  packages/apps/backend/tests/unit/helpers/test-utils.ts
  packages/apps/backend/tests/unit/helpers/user/index.ts
  packages/apps/backend/tests/unit/helpers/user/user-entity-factory.ts
  packages/apps/backend/tests/unit/helpers/user/user-fixtures.ts
  packages/apps/backend/tests/unit/helpers/user/user-mock-services.ts
  packages/apps/mobile/.ts-prunerc
  packages/apps/mobile/package.json
  packages/apps/mobile/src/components/ThemedText.tsx
  packages/apps/mobile/src/components/ThemedView.tsx
  packages/libs/eslint-configs/.ts-prunerc
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/.ts-prunerc
  packages/libs/eslint-plugins/package.json
  packages/libs/tsconfig-base/package.json
  scripts/check-deadcode.sh
Due: sort-package-json, secretlint

ci: remove temp command
  package.json
Due: sort-package-json

test: remove unused file
  packages/apps/admin/tests/e2e/fixtures.ts
Due: secretlint

ci: fix check-deadcode.sh
  scripts/check-deadcode.sh
Due: secretlint

ci: fix check-deadcode.sh
  package.json
Due: sort-package-json

ci: fix check-deadcode.sh
  package.json
  scripts/check-deadcode.sh
Due: sort-package-json, secretlint

ci: add eslint-plugin-unused-imports
  bun.lock
  package.json
  packages/apps/admin/eslint.config.ts
  packages/apps/mobile/eslint.config.ts
  packages/libs/eslint-configs/src/eslint-config-import.ts
Due: sort-package-json, secretlint

ci: add eslint-plugin-unused-imports (#33)
  bun.lock
  package.json
  packages/apps/admin/eslint.config.ts
  packages/apps/mobile/eslint.config.ts
  packages/libs/eslint-configs/src/eslint-config-import.ts
Due: sort-package-json, secretlint

chore: add ts-prune
  .ts-prunerc
  bun.lock
  cspell.config.js
  package.json
  packages/apps/admin/.ts-prunerc
  packages/apps/admin/Makefile
  packages/apps/admin/package.json
  packages/apps/admin/tests/e2e/fixtures.ts
  packages/apps/backend/.ts-prunerc
  packages/apps/backend/package.json
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/tests/e2e/helpers/http-test-utils.ts
  packages/apps/backend/tests/e2e/helpers/index.ts
  packages/apps/backend/tests/helpers/database-test-utils.ts
  packages/apps/backend/tests/unit/helpers/index.ts
  packages/apps/backend/tests/unit/helpers/test-utils.ts
  packages/apps/backend/tests/unit/helpers/user/index.ts
  packages/apps/backend/tests/unit/helpers/user/user-entity-factory.ts
  packages/apps/backend/tests/unit/helpers/user/user-fixtures.ts
  packages/apps/backend/tests/unit/helpers/user/user-mock-services.ts
  packages/apps/mobile/.ts-prunerc
  packages/apps/mobile/package.json
  packages/apps/mobile/src/components/ThemedText.tsx
  packages/apps/mobile/src/components/ThemedView.tsx
  packages/libs/eslint-configs/.ts-prunerc
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/.ts-prunerc
  packages/libs/eslint-plugins/package.json
  packages/libs/tsconfig-base/package.json
  scripts/check-deadcode.sh
Due: sort-package-json, secretlint

ci: rename
  .github/workflows/ci.yml
Due: secretlint

chore: add ts-prune (#34)
  .github/workflows/ci.yml
  .ts-prunerc
  bun.lock
  cspell.config.js
  package.json
  packages/apps/admin/.ts-prunerc
  packages/apps/admin/Makefile
  packages/apps/admin/package.json
  packages/apps/admin/tests/e2e/fixtures.ts
  packages/apps/backend/.ts-prunerc
  packages/apps/backend/package.json
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/tests/e2e/helpers/http-test-utils.ts
  packages/apps/backend/tests/e2e/helpers/index.ts
  packages/apps/backend/tests/helpers/database-test-utils.ts
  packages/apps/backend/tests/unit/helpers/index.ts
  packages/apps/backend/tests/unit/helpers/test-utils.ts
  packages/apps/backend/tests/unit/helpers/user/index.ts
  packages/apps/backend/tests/unit/helpers/user/user-entity-factory.ts
  packages/apps/backend/tests/unit/helpers/user/user-fixtures.ts
  packages/apps/backend/tests/unit/helpers/user/user-mock-services.ts
  packages/apps/mobile/.ts-prunerc
  packages/apps/mobile/package.json
  packages/apps/mobile/src/components/ThemedText.tsx
  packages/apps/mobile/src/components/ThemedView.tsx
  packages/libs/eslint-configs/.ts-prunerc
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/.ts-prunerc
  packages/libs/eslint-plugins/package.json
  packages/libs/tsconfig-base/package.json
  scripts/check-deadcode.sh
Due: sort-package-json, secretlint

ci: refactor CI/Static workflow
  .github/actions/build-eslint-packages/action.yml
  .github/actions/setup-backend/action.yml
  .github/actions/setup-bun/action.yml
  .github/actions/setup-project-base/action.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci.yml
  Makefile
  package.json
  packages/apps/admin/Makefile
  packages/apps/backend/Makefile
  packages/apps/mobile/Makefile
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/Makefile
  packages/libs/eslint-plugins/package.json
Due: sort-package-json, secretlint

ci: fix composite actions
  .github/actions/setup-backend/action.yml
  .github/workflows/ci-static.yml
Due: secretlint

ci: execute `make setup-env` in composite action
  .github/actions/setup-bun/action.yml
Due: secretlint

ci: add white space between words of ci static workflow
  .github/workflows/ci-static.yml
Due: secretlint

ci: add SKIP_MIGRATIONS flag when executing make setup command in backend setup composite action
  .github/actions/setup-backend/action.yml
Due: secretlint

ci: remove unused composite action
  .github/actions/setup-project-base/action.yml
Due: secretlint

ci: restore libs build commands
  Makefile
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-plugins/Makefile
  packages/libs/eslint-plugins/package.json
Due: sort-package-json, secretlint

ci: fix ci/static
  .github/actions/build-eslint-packages/action.yml
  .github/actions/setup-backend/action.yml
  .github/actions/setup-bun/action.yml
  .github/workflows/ci-static.yml
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-plugins/Makefile
Due: secretlint

ci: modify setup-backend
  .github/actions/setup-backend/action.yml
  .github/workflows/ci-static.yml
Due: secretlint

ci: refactor CI/Static workflow (#35)
  .github/actions/build-eslint-packages/action.yml
  .github/actions/setup-backend/action.yml
  .github/actions/setup-bun/action.yml
  .github/workflows/ci-static.yml
  Makefile
  package.json
  packages/apps/admin/Makefile
  packages/apps/backend/Makefile
  packages/apps/mobile/Makefile
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-plugins/Makefile
Due: sort-package-json, secretlint

ci: add check-shema job
  .github/actions/setup-backend/action.yml
  .github/actions/setup-base-project/action.yml
  .github/actions/start-backend/action.yml
  .github/workflows/ci-static.yml
  packages/apps/backend/Makefile
Due: secretlint

fix: make command
  .github/actions/setup-base-project/action.yml
Due: secretlint

fix: make command
  .github/actions/setup-backend/action.yml
  packages/apps/backend/Makefile
Due: secretlint

ci: add check-shema job (#36)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-base-project/action.yml
  .github/actions/start-backend/action.yml
  .github/workflows/ci-static.yml
  packages/apps/backend/Makefile
Due: secretlint

ci: clarify start-backend's comments
  .github/actions/start-backend/action.yml
Due: secretlint

ci: add admin's test workflow
  .github/actions/setup-admin/action.yml
  .github/actions/start-admin/action.yml
  .github/workflows/ci-test.yml
Due: secretlint

ci: fix admin url
  .github/actions/start-admin/action.yml
Due: secretlint

test: fix reuseExistingServer
  packages/apps/admin/tests/e2e/playwright.config.ts
Due: secretlint

test: fix admin test workflow
  .github/workflows/ci-test.yml
  cspell.config.js
Due: secretlint

test: fix admin test workflow
  .github/workflows/ci-test.yml
  packages/apps/admin/Makefile
Due: secretlint

test: fix admin test workflow
  packages/apps/admin/tests/unit/vitest.config.ts
Due: secretlint

test: add backend test job
  .github/workflows/ci-test.yml
Due: secretlint

test: add eslint-plugin test job
  .github/workflows/ci-test.yml
Due: secretlint

test: fix eslint-plugin test job
  .github/workflows/ci-test.yml
Due: secretlint

ci: add test workflow without mobile project (#37)
  .github/actions/setup-admin/action.yml
  .github/actions/start-admin/action.yml
  .github/actions/start-backend/action.yml
  .github/workflows/ci-test.yml
  cspell.config.js
  packages/apps/admin/Makefile
  packages/apps/admin/tests/e2e/playwright.config.ts
  packages/apps/admin/tests/unit/vitest.config.ts
Due: secretlint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  secretlint: any of: **/*
  dotenv-linter: any of: .env*
