Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update Backend other dependencies (non-major) to v7.4.1 (#660)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#659)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#662)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#663)
  bun.lock
  package.json
Due: sort-package-json

chore: sort enabledPlugins and add cspell words
  .claude/settings.json
  cspell.config.js
Due: check-secret-lint

refactor(backend): address review - typed ConfigService, validate FIREBASE_CHECK_REVOKED
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/config/env-validation.ts
Due: check-secret-lint

refactor(backend): address review - module encapsulation, @Type decorator, test coverage
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/config/env-validation.ts
  packages/apps/backend/src/domain/usecases/user/user-usecase.module.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
Due: check-secret-lint

refactor(backend): address review - readonly fields, remove UIDs from logs, fix test names
  packages/apps/backend/src/config/env-validation.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
Due: check-secret-lint

feat(backend): Phase 6 - env validation + ConfigService integration (#654)
  .claude/settings.json
  cspell.config.js
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/admin/users/users.module.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/app/utils/guards/user-auth.guard.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/config/env-validation.ts
  packages/apps/backend/src/domain/usecases/user/bulk-delete-users.service.ts
  packages/apps/backend/src/firebase-auth/firebase-auth.provider.ts
  packages/apps/backend/src/repository/repository.service.ts
  packages/apps/backend/tests/src/apis/app/utils/guards/user-auth.guard.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/config/env-validation.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/bulk-delete-users.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.service.spec.ts
  packages/apps/backend/tests/src/firebase-auth/utils/firebase.error.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: check-secret-lint

chore: Update dependency eslint-config-expo to v55
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-config-expo to v55 (#664)
  bun.lock
  package.json
Due: sort-package-json

fix(mobile): update Maestro E2E test for dev client
  packages/apps/mobile/tests/e2e/main-e2e.yaml
Due: check-secret-lint

chore: Update dependency @types/jsdom to v28
  bun.lock
  package.json
Due: sort-package-json

chore(mobile): add production submit profiles for App Store and Google Play
  packages/apps/mobile/eas.json
Due: check-secret-lint

fix(mobile): update Maestro E2E test for dev client (#665)
  packages/apps/mobile/tests/e2e/main-e2e.yaml
Due: check-secret-lint

chore(mobile): add production submit profiles for EAS (#668)
  packages/apps/mobile/eas.json
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#666)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/jsdom to v28 (#667)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v10.2.12
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency class-validator to v0.14.4
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Node.js to v24.14.0
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) to v10.2.12 (#669)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency class-validator to v0.14.4 (#670)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Node.js to v24.14.0 (#671)
  .tool-versions
Due: none

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/supertest to v7
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#673)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#672)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/supertest to v7 (#674)
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v7.4.2
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#676)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.4.2 (#675)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency bun to v1.3.10
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.10 (#677)
  .tool-versions
Due: none

chore: Update dependency @types/node to v25.3.3
  bun.lock
  package.json
Due: sort-package-json
