Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

refactor(backend): rename services → modules
  packages/apps/backend/src/api/users/users.controllers.ts
  packages/apps/backend/src/api/users/users.module.ts
  packages/apps/backend/src/modules/user/user.constants.ts
  packages/apps/backend/src/modules/user/user.dto.ts
  packages/apps/backend/src/modules/user/user.module.ts
  packages/apps/backend/src/modules/user/user.repository.ts
  packages/apps/backend/src/modules/user/user.service.ts
Due: none

refactor(backend): split models by domain aggregation
  Makefile
  package.json
  packages/apps/backend/package.json
  packages/apps/backend/prisma/aggregate/user.prisma
  packages/apps/backend/prisma/schema.prisma
  packages/apps/backend/src/app.module.ts
  packages/apps/backend/src/modules/aggregate/user/user.constants.ts
  packages/apps/backend/src/modules/aggregate/user/user.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.module.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.ts
  packages/apps/backend/src/modules/aggregate/user/user.service.ts
  packages/apps/backend/src/modules/api/api.module.ts
  packages/apps/backend/src/modules/api/users/users.controllers.ts
  packages/apps/backend/src/modules/api/users/users.module.ts
  packages/apps/backend/src/modules/repository/repository.module.ts
  packages/apps/backend/src/modules/repository/repository.service.ts
Due: sort-package-json, validate-prisma-schema

chore: improve make command
  Makefile
  docker-compose.yml
  packages/apps/admin/Makefile
  packages/apps/backend/Makefile
  packages/apps/mobile/Makefile
  packages/libs/eslint-rules/Makefile
Due: none

chore: reorganize dependencies
  bun.lock
  package.json
  packages/apps/backend/package.json
Due: sort-package-json

refactor(eslint-rules): export style
  bun.lock
  package.json
  packages/libs/eslint-rules/package.json
  packages/libs/eslint-rules/src/index.ts
  packages/libs/eslint-rules/src/plugin-backend/index.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-create-naming-convention.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-create-no-deleted-at.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-delete-naming-convention.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-find-naming-convention.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-update-naming-convention.ts
  packages/libs/eslint-rules/src/plugin-backend/utils/prisma-helpers.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-create-naming-convention.test.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-create-no-deleted-at.test.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-delete-naming-convention.test.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-find-naming-convention.test.ts
  packages/libs/eslint-rules/tsconfig.json
  packages/libs/eslint-rules/vitest.config.mts
Due: sort-package-json

chore(backend): apply new custom eslint rule
  packages/apps/backend/eslint.config.mjs
Due: none

test(eslint-rules): add test for prisma-helper
  packages/libs/eslint-rules/tests/plugin-backend/utils/prisma-helpers.test.ts
Due: none

chore(eslint-rules): add repository-model-access-restriction
  packages/apps/backend/eslint.config.mjs
  packages/libs/eslint-rules/src/plugin-backend/index.ts
  packages/libs/eslint-rules/src/plugin-backend/repository-model-access-restriction.ts
  packages/libs/eslint-rules/tests/plugin-backend/repository-model-access-restriction.test.ts
Due: none

chore(eslint-rules): add prisma-repository-only-access
  packages/apps/backend/eslint.config.mjs
  packages/libs/eslint-rules/src/plugin-backend/index.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-repository-only-access.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-repository-only-access.test.ts
  packages/libs/eslint-rules/vitest.config.mts
Due: none

feat(backend): improve backend
  packages/apps/backend/src/modules/aggregate/user/user.service.ts
  packages/apps/backend/src/modules/api/users/users.controllers.ts
Due: none

feat(backend): improve controller
  packages/apps/backend/src/main.ts
  packages/apps/backend/src/modules/aggregate/user/user.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.service.ts
  packages/apps/backend/src/modules/api/users/users.controllers.ts
Due: none

fix: apply eslint
  packages/apps/backend/src/modules/aggregate/user/user.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.ts
Due: none

chore: format
  packages/libs/eslint-rules/src/plugin-backend/repository-model-access-restriction.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-repository-only-access.test.ts
  scripts/type_check.sh
Due: none

refactor(backend): split UserService by Command and Query
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.module.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/api/users/users.controller.ts
  packages/apps/backend/src/modules/api/users/users.module.ts
Due: none

refactor: introduce facade pattern
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.ts
  packages/apps/backend/src/modules/aggregate/user/user.app.facade.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.input.dto.ts
  packages/apps/backend/src/modules/aggregate/user/user.module.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/admin.module.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/src/modules/api/admin/users/users.module.ts
  packages/apps/backend/src/modules/api/api.module.ts
  packages/apps/backend/src/modules/api/app/app.module.ts
  packages/apps/backend/src/modules/api/app/users/users.controller.ts
  packages/apps/backend/src/modules/api/app/users/users.module.ts
  packages/apps/backend/src/modules/api/users/users.controller.ts
Due: none

fix(eslint-rules): allow *.repository.service.ts
  packages/libs/eslint-rules/src/plugin-backend/prisma-repository-only-access.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-repository-only-access.test.ts
Due: none

refactor(backend): add suffix
  packages/apps/backend/src/modules/aggregate/user/user.admin.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.app.facade.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.command.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.module.ts
  packages/apps/backend/src/modules/aggregate/user/user.query.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.repository.service.ts
  packages/apps/backend/src/modules/aggregate/user/user.response.dto.ts
  packages/apps/backend/src/modules/api/admin/users/users.controller.ts
  packages/apps/backend/src/modules/api/app/users/users.controller.ts
Due: none

fix(eslint-rules): fix rule
  packages/libs/eslint-rules/src/plugin-backend/prisma-repository-only-access.ts
  packages/libs/eslint-rules/tests/plugin-backend/prisma-repository-only-access.test.ts
Due: none

chore: remove eslint-plugin-prettier
  bun.lock
  package.json
  packages/apps/backend/eslint.config.mjs
  packages/apps/mobile/eslint.config.mjs
Due: sort-package-json

chore(eslint-config): init
  Makefile
  bun.lock
  packages/libs/eslint-config/Makefile
  packages/libs/eslint-config/package.json
  packages/libs/eslint-config/src/eslint.config.ts
  packages/libs/eslint-config/tsconfig.build.json
  packages/libs/eslint-config/tsconfig.json
Due: sort-package-json

chore: reorganize dependencies
  bun.lock
  package.json
  packages/libs/eslint-config/package.json
  packages/libs/eslint-rules/package.json
Due: sort-package-json

chore: remove @ts-check
  packages/libs/eslint-config/src/eslint.config.ts
Due: none

chore(eslint-config): add index.ts
  packages/libs/eslint-config/src/base/eslint.config.ts
  packages/libs/eslint-config/src/index.ts
Due: none

chore(eslint-configs): rename package
  Makefile
  packages/libs/eslint-configs/Makefile
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-configs/src/base/eslint.config.ts
  packages/libs/eslint-configs/src/index.ts
  packages/libs/eslint-configs/tsconfig.build.json
  packages/libs/eslint-configs/tsconfig.json
Due: sort-package-json

chore(backend): apply eslint-config
  bun.lock
  packages/apps/backend/eslint.config.mjs
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/package.json
  packages/apps/backend/src/main.ts
  packages/apps/backend/tsconfig.build.json
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-configs/src/base/eslint.config.ts
Due: sort-package-json

chore(backend): apply eslint-config
  packages/apps/backend/package.json
Due: sort-package-json

chore(backend): apply backendEslintConfig
  packages/apps/backend/eslint.config.ts
  packages/libs/eslint-configs/src/backend/eslint.config.ts
  packages/libs/eslint-configs/src/base/eslint.config.ts
  packages/libs/eslint-configs/src/index.ts
Due: none

chore(eslint-configs): improve backend eslint config
  packages/apps/backend/eslint.config.ts
  packages/libs/eslint-configs/src/backend/eslint.config.ts
  packages/libs/eslint-configs/src/base/eslint.config.ts
Due: none

chore: add ci:temp command
  package.json
  scripts/lint_check.sh
  scripts/test.sh
Due: sort-package-json

chore(eslint-rules): improve
  packages/libs/eslint-rules/eslint.config.ts
  packages/libs/eslint-rules/package.json
  packages/libs/eslint-rules/tsconfig.build.json
  packages/libs/eslint-rules/tsconfig.json
Due: sort-package-json

chore(eslint-configs): improve
  packages/libs/eslint-configs/eslint.config.ts
  packages/libs/eslint-configs/package.json
  packages/libs/eslint-configs/src/backend-eslint.config.ts
  packages/libs/eslint-configs/src/base-eslint.config.ts
  packages/libs/eslint-configs/src/base/eslint.config.ts
  packages/libs/eslint-configs/src/index.ts
  packages/libs/eslint-configs/src/mobile-eslint.config.ts
  packages/libs/eslint-configs/src/types/expo-config.d.ts
  packages/libs/eslint-configs/tsconfig.build.json
  packages/libs/eslint-configs/tsconfig.json
Due: sort-package-json

chore(eslint-configs): improve
  packages/libs/eslint-configs/src/index.ts
  packages/libs/eslint-configs/src/mobile-eslint.config.ts
  packages/libs/eslint-configs/src/types/expo-config.d.ts
Due: none

chore(mobile): improve eslint
  bun.lock
  packages/apps/mobile/eslint.config.mjs
  packages/apps/mobile/eslint.config.ts
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(tabs)/explore.tsx
  packages/apps/mobile/src/app/(tabs)/index.tsx
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/components/ExternalLink.tsx
  packages/apps/mobile/src/components/HapticTab.tsx
  packages/apps/mobile/src/hooks/useThemeColor.ts
  packages/apps/mobile/src/types/expo-config.d.ts
  packages/apps/mobile/src/types/images.d.ts
  packages/apps/mobile/src/types/ttf.d.ts
  packages/apps/mobile/tsconfig.json
Due: sort-package-json

chore(mobile): fix lint:fix command
  packages/apps/mobile/package.json
Due: sort-package-json

chore(backend): fix lint commands
  packages/apps/backend/package.json
Due: sort-package-json

chore(mobile): fix dev commands
  packages/apps/mobile/package.json
Due: sort-package-json

chore(mobile): update dependencies
  bun.lock
  packages/apps/mobile/app.json
  packages/apps/mobile/package.json
Due: sort-package-json

fix(mobile): resolve asset path
  packages/apps/mobile/app.json
Due: none

chore: update claude.md
  CLAUDE.md
Due: none

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
