Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major) (#570)
  bun.lock
  package.json
  packages/libs/eslint-plugins/src/plugin-backend/utils/prisma-helpers.ts
Due: sort-package-json, check-secret-lint

chore: Update actions/setup-node digest to 6044e13 (#573)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#574)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#575)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/node to v25.0.7
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/node to v25.0.7 (#576)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#577)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.2
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.2.5
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.2 (#578)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v11.2.5 (#579)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#580)
  bun.lock
  package.json
Due: sort-package-json

chore: Update oven-sh/setup-bun digest to 3d26778
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Backend other dependencies (non-major) (#581)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#582)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.6
  .tool-versions
Due: none

chore: Update Node.js to v24.13.0
  .tool-versions
Due: none

chore: Update oven-sh/setup-bun digest to 3d26778 (#583)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency bun to v1.3.6 (#584)
  .tool-versions
Due: none

chore: Update Admin other dependencies (non-major) to v16.1.3
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @chromatic-com/storybook to v5
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.3 (#586)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @chromatic-com/storybook to v5 (#587)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Node.js to v24.13.0 (#585)
  .tool-versions
Due: none

chore: Update Admin other dependencies (non-major) to v16.1.4
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#589)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.4 (#588)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/react to v19.2.9
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/react to v19.2.9 (#590)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.3.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#592)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v7.3.0 (#591)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
