Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update Root other dependencies (non-major) (#555)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.0 (#556)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @golevelup/ts-jest to v1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: update prisma
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: update lock
  bun.lock
Due: none

chore: update prisma (#558)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @vitest/eslint-plugin to v1.5.4
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/eslint-plugin to v1.5.4 (#559)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.5
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.5 (#560)
  .tool-versions
Due: none

chore: Update dependency @golevelup/ts-jest to v1 (#557)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency eslint-plugin-jest to v29.6.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.1
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.1 (#562)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

style: update eslint.config.ts
  packages/apps/backend/eslint.config.ts
Due: check-secret-lint

chore: Update dependency eslint-plugin-jest to v29.6.0 (#561)
  bun.lock
  package.json
  packages/apps/backend/eslint.config.ts
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

style: disable rule
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#563)
  bun.lock
  package.json
  packages/apps/backend/tests/src/firebase-auth/firebase-auth.provider.spec.ts
Due: sort-package-json, check-secret-lint

chore: Update dependency @vitest/eslint-plugin to v1.6.4
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/eslint-plugin to v1.6.4 (#564)
  bun.lock
  package.json
Due: sort-package-json

chore(backend): update Dependencies
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore(backend): update Dependencies (#565)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#566)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency msw to v2.12.7
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency msw to v2.12.7 (#567)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-jest to v29.11.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-jest to v29.11.1 (#568)
  bun.lock
  package.json
Due: sort-package-json

feat(mobile): update adaptive-icon.png
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/src/assets/images/adaptive-background.png
  packages/apps/mobile/src/assets/images/adaptive-icon.png
Due: check-secret-lint

feat(mobile): update icon.png
  packages/apps/mobile/src/assets/images/icon.png
Due: check-secret-lint

feat(mobile): update adaptive-icon.png
  packages/apps/mobile/app.config.ts
Due: check-secret-lint

feat(mobile): update app icons with adaptive icon support (#569)
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/src/assets/images/adaptive-background.png
  packages/apps/mobile/src/assets/images/adaptive-icon.png
  packages/apps/mobile/src/assets/images/icon.png
Due: check-secret-lint

chore: Update oven-sh/setup-bun digest to b7a1c7c
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update oven-sh/setup-bun digest to b7a1c7c (#571)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update dependency globals to v17
  package.json
Due: sort-package-json

chore: Update dependency globals to v17 (#572)
  package.json
Due: sort-package-json

chore: Update actions/setup-node digest to 6044e13
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

style(eslint-plugins): apply eslint rule
  packages/libs/eslint-plugins/src/plugin-backend/utils/prisma-helpers.ts
Due: check-secret-lint
