Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update dependency cspell to v10
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.2.3 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.2.3 [SECURITY] (#735)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#734)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.3
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.3 (#736)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) (#737)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency cspell to v10 (#733)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#729)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.12
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.12 (#739)
  .tool-versions
Due: none

chore: Update Root other dependencies (non-major) (#738)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency globals to v17.5.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency globals to v17.5.0 (#740)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency dotenv to v17.4.2
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) to v11.1.19
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.19 (#742)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency dotenv to v17.4.2 (#741)
  bun.lock
  package.json
Due: sort-package-json

fix(backend): wait for PostgreSQL readiness before running migrations
  .github/actions/setup-backend/action.yml
  packages/apps/backend/Makefile
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#743)
  .github/actions/setup-backend/action.yml
  bun.lock
  package.json
  packages/apps/backend/Makefile
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#744)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/cli to v11.0.21
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency prettier to v3.8.3
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.2.4
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/cli to v11.0.21 (#745)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency prettier to v3.8.3 (#746)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.3.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.4 (#747)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Node.js to v24.15.0
  .tool-versions
Due: none

chore: Update Node.js to v24.15.0 (#750)
  .tool-versions
Due: none

chore: Update dependency @nestjs/swagger to v11.3.0 (#749)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/schematics to v11.1.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#748)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/schematics to v11.1.0 (#751)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint
