Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#593)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#594)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency next to v16.1.5 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.1.5 [SECURITY] (#595)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.5
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.5 (#596)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#597)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.6
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.6 (#599)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#598)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#600)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.7
  .tool-versions
Due: none

chore: add git worktree support for parallel development
  .env.example
  .github/actions/setup-base-project/action.yml
  .markdownlint.json
  .secretlintignore
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  bin/firebase/start-dev-emulators
  bin/firebase/start-test-emulators
  bin/local/clean
  bin/local/setup-env
  bin/local/status
  bin/port-registry
  bin/wt/clean
  bin/wt/list
  bin/wt/ports
  bin/wt/status
  docker-compose.yml
Due: check-secret-lint, check-dotenv-lint

chore: Update dependency bun to v1.3.7 (#601)
  .tool-versions
Due: none

fix: add missing words to cspell and format README
  README.md
  cspell.config.js
Due: none

docs: add PostgreSQL Test to port allocation table
  README.md
Due: none

chore: Update Root other dependencies (non-major) (#603)
  bun.lock
  package.json
Due: sort-package-json

chore: add git worktree support for parallel development (#602)
  .env.example
  .github/actions/setup-base-project/action.yml
  .markdownlint.json
  .secretlintignore
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  bin/firebase/start-dev-emulators
  bin/firebase/start-test-emulators
  bin/local/clean
  bin/local/setup-env
  bin/local/status
  bin/port-registry
  bin/wt/clean
  bin/wt/list
  bin/wt/ports
  bin/wt/status
  cspell.config.js
  docker-compose.yml
Due: check-secret-lint, check-dotenv-lint

chore: Update dependency firebase-tools to v15.5.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.8
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.8 (#605)
  .tool-versions
Due: none

chore: Update dependency firebase-tools to v15.5.1 (#604)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#606)
  bun.lock
  package.json
Due: sort-package-json

chore: resolve make setup failures for git worktree environments
  .env.test
  .gitignore
  bin/local/setup-env
  docker-compose.yml
Due: check-secret-lint, check-dotenv-lint

chore: resolve make setup failures for git worktree environments (#607)
  .env.test
  .gitignore
  bin/local/setup-env
  docker-compose.yml
Due: check-secret-lint, check-dotenv-lint

feat: introduce Turborepo for build optimization
  .gitignore
  bun.lock
  package.json
  scripts/type_check.sh
  turbo.json
Due: sort-package-json, check-secret-lint

feat: integrate Turborepo in GitHub Actions CI
  .github/actions/build-eslint-packages/action.yml
  .github/workflows/ci-static.yml
Due: check-secret-lint

feat: add Turborepo Remote Cache support for CI
  .github/actions/build-eslint-packages/action.yml
  .github/actions/setup-base-project/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
Due: check-secret-lint

fix: add root-level lint and type check to CI
  .github/workflows/ci-static.yml
Due: check-secret-lint

refactor: remove redundant lint-es.sh script
  package.json
  scripts/lint-es.sh
  turbo.json
Due: sort-package-json, check-secret-lint

fix: rename dev task to start:dev to match package scripts
  turbo.json
Due: none

docs: update documentation for Turborepo migration
  AGENTS.md
  CLAUDE.md
  README.md
Due: none
