Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update dependency @nestjs/jwt to v12 (#879)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @nestjs/swagger to v12
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @faker-js/faker to v10.5.0 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v12 (#880)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @faker-js/faker to v10.5.0 [SECURITY] (#881)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.3.4
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update renovatebot/github-action action to v46.2.5
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency cypress to v16
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency vitest to v4.1.11 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.4.2
  .tool-versions
Due: none

chore: Delete .github/workflows/renovate.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Delete .github/workflows/renovate.yml (#887)
  .github/workflows/renovate.yml
Due: check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
