Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major) (#638)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: regenerate API types for health endpoint
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/mobile/generated/types/api.d.ts
Due: check-secret-lint

fix(backend): address PR review findings for Datadog observability
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#640)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency lefthook to v2.1.1
  bun.lock
  package.json
Due: sort-package-json

fix(backend): convert health check failure to 503 ServiceUnavailable
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/tests/src/apis/utils/health/health.controller.spec.ts
Due: check-secret-lint

feat(eslint-plugins): add no-prisma-raw-unsafe rule and fix $queryRawUnsafe usage
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
  packages/libs/eslint-plugins/src/plugin-backend/index.ts
  packages/libs/eslint-plugins/src/plugin-backend/no-prisma-raw-unsafe.ts
  packages/libs/eslint-plugins/tests/plugin-backend/no-prisma-raw-unsafe.test.ts
Due: check-secret-lint

feat(backend): add Datadog APM integration and health checks (Phase 2) (#635)
  bun.lock
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/src/apis/utils/health/health.module.ts
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/health.controller.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
  packages/apps/mobile/generated/types/api.d.ts
  packages/libs/eslint-plugins/src/plugin-backend/index.ts
  packages/libs/eslint-plugins/src/plugin-backend/no-prisma-raw-unsafe.ts
  packages/libs/eslint-plugins/tests/plugin-backend/no-prisma-raw-unsafe.test.ts
Due: sort-package-json, check-secret-lint

feat(backend): add Datadog APM integration and health checks (Phase 2)
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/health.controller.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
Due: check-secret-lint

chore: remove unnecessary skills and build artifacts
  .claude/skills/agent-instructions-improver/SKILL.md
  .claude/skills/agent-instructions-improver/references/quality-criteria.md
  .claude/skills/agent-instructions-improver/references/templates.md
  .claude/skills/agent-instructions-improver/references/update-guidelines.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/nestjs-best-practices/scripts/build-agents.ts
  .claude/skills/nestjs-best-practices/scripts/build.sh
  .claude/skills/nestjs-best-practices/scripts/package-lock.json
  .claude/skills/nestjs-best-practices/scripts/package.json
  .claude/skills/project-context/SKILL.md
Due: sort-package-json, check-secret-lint

refactor: migrate commands to skills
  .claude/commands/review-pr.md
  .claude/skills/accessibility-review/SKILL.md
  .claude/skills/audit-types/SKILL.md
  .claude/skills/plan/SKILL.md
  .claude/skills/polish/SKILL.md
  .claude/skills/pre-commit/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/revise-rules/SKILL.md
Due: check-secret-lint

chore: add session-approved bash commands to settings.json
  .claude/settings.json
Due: check-secret-lint

fix: resolve stale references and add skill management rules
  .claude/skills/plan/SKILL.md
  .claude/skills/turborepo/CLAUDE.md
  .claude/skills/vercel-composition-patterns/CLAUDE.md
  .claude/skills/vercel-react-best-practices/CLAUDE.md
  .claude/skills/vercel-react-native-skills/CLAUDE.md
  CLAUDE.md
Due: check-secret-lint

fix: revert backend changes to match develop branch
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/utils/health/health.module.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: sort-package-json, check-secret-lint

fix: restore backend files to match origin/develop
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/admin/main.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/app/main.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/health/health.controller.ts
  packages/apps/backend/src/apis/utils/health/health.module.ts
  packages/apps/backend/src/apis/utils/health/prisma-health.indicator.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/health.controller.spec.ts
  packages/apps/backend/tests/src/apis/utils/health/prisma-health.indicator.spec.ts
  packages/apps/backend/tests/src/repository/repository.service.spec.ts
Due: sort-package-json, check-secret-lint

fix: correct YAML folded scalar formatting in turborepo SKILL.md
  .claude/skills/turborepo/SKILL.md
Due: check-secret-lint

chore: Update dependency lefthook to v2.1.1 (#641)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.9
  .tool-versions
Due: none

chore: Update Node.js to v24.13.1
  .tool-versions
Due: none

chore: Update Node.js to v24.13.1 (#644)
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.9 (#643)
  .tool-versions
Due: none

chore: update bun.lock to remove rulesync dependencies
  bun.lock
Due: none

chore: update bun.lock to remove rulesync dependencies (#645)
  bun.lock
Due: none

feat(backend): add Phase 3 observability - tracing, metrics, RFC 7807
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/interceptors/tracing.interceptor.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/src/utils/decorators/trace.decorator.ts
  packages/apps/backend/src/utils/metrics/dogstatsd.metrics.ts
  packages/apps/backend/tests/src/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/interceptors/tracing.interceptor.spec.ts
  packages/apps/backend/tests/src/utils/decorators/trace.decorator.spec.ts
Due: check-secret-lint

fix: update generated API types for RFC 7807 ErrorResponseDto
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/mobile/generated/types/api.d.ts
Due: check-secret-lint

feat(backend): add Phase 3 observability - tracing, metrics, RFC 7807 (#647)
  packages/apps/admin/generated/types/api.d.ts
  packages/apps/backend/src/apis/admin/admin.module.ts
  packages/apps/backend/src/apis/app/app.module.ts
  packages/apps/backend/src/apis/utils/api.error.ts
  packages/apps/backend/src/apis/utils/filters/global-exception.filter.ts
  packages/apps/backend/src/apis/utils/interceptors/tracing.interceptor.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/tracer.ts
  packages/apps/backend/src/utils/decorators/trace.decorator.ts
  packages/apps/backend/src/utils/metrics/dogstatsd.metrics.ts
  packages/apps/backend/tests/src/apis/utils/api.error.spec.ts
  packages/apps/backend/tests/src/apis/utils/filters/global-exception.filter.spec.ts
  packages/apps/backend/tests/src/apis/utils/interceptors/tracing.interceptor.spec.ts
  packages/apps/backend/tests/src/utils/decorators/trace.decorator.spec.ts
  packages/apps/mobile/generated/types/api.d.ts
Due: check-secret-lint

feat(backend): add DDD shared kernel base classes and branded types
  packages/apps/backend/src/domain/shared/aggregate-root.base.ts
  packages/apps/backend/src/domain/shared/brand-constructors.ts
  packages/apps/backend/src/domain/shared/branded.ts
  packages/apps/backend/src/domain/shared/domain-event.base.ts
  packages/apps/backend/src/domain/shared/entity.base.ts
  packages/apps/backend/src/domain/shared/value-object.base.ts
  packages/apps/backend/src/domain/shared/value-objects/user-name.vo.ts
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/src/domain/shared/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/branded.spec.ts
  packages/apps/backend/tests/src/domain/shared/domain-event.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/entity.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/value-object.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/value-objects/user-name.vo.spec.ts
Due: check-secret-lint

refactor(backend): address PR review - improve DDD shared kernel
  packages/apps/backend/src/domain/shared/aggregate-root.base.ts
  packages/apps/backend/src/domain/shared/brand-constructors.ts
  packages/apps/backend/src/domain/shared/domain-event.base.ts
  packages/apps/backend/src/domain/shared/entity.base.ts
  packages/apps/backend/src/domain/shared/value-object.base.ts
  packages/apps/backend/src/domain/shared/value-objects/user-name.vo.ts
  packages/apps/backend/tests/src/domain/shared/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/branded.spec.ts
  packages/apps/backend/tests/src/domain/shared/domain-event.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/value-object.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/value-objects/user-name.vo.spec.ts
Due: check-secret-lint

fix(backend): address remaining PR review issues in DDD shared kernel
  packages/apps/backend/src/domain/shared/brand-constructors.ts
  packages/apps/backend/src/domain/shared/entity.base.ts
  packages/apps/backend/src/domain/shared/value-object.base.ts
  packages/apps/backend/tests/src/domain/shared/entity.base.spec.ts
  packages/apps/backend/tests/src/domain/shared/value-object.base.spec.ts
Due: check-secret-lint

fix: add 'agg' to cspell dictionary for aggregate test variables
  cspell.config.js
Due: none

refactor(backend): move DDD shared kernel from domain/shared to domain/utils
  packages/apps/backend/src/domain/utils/aggregate-root.base.ts
  packages/apps/backend/src/domain/utils/brand-constructors.ts
  packages/apps/backend/src/domain/utils/branded.ts
  packages/apps/backend/src/domain/utils/domain-event.base.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/domain/utils/value-object.base.ts
  packages/apps/backend/src/domain/utils/value-objects/user-name.vo.ts
  packages/apps/backend/tests/src/domain/utils/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/branded.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/entity.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-object.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-objects/user-name.vo.spec.ts
Due: check-secret-lint

feat(backend): add DDD shared kernel (Phase 4A) (#648)
  cspell.config.js
  packages/apps/backend/src/domain/utils/aggregate-root.base.ts
  packages/apps/backend/src/domain/utils/brand-constructors.ts
  packages/apps/backend/src/domain/utils/branded.ts
  packages/apps/backend/src/domain/utils/domain-event.base.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/domain/utils/value-object.base.ts
  packages/apps/backend/src/domain/utils/value-objects/user-name.vo.ts
  packages/apps/backend/src/utils/errors/error-code.ts
  packages/apps/backend/tests/src/domain/utils/aggregate-root.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/branded.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/entity.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-object.base.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-objects/user-name.vo.spec.ts
Due: check-secret-lint

feat(backend): add Phase 4B DDD evolution - UserStatus VO, Domain Events, User Aggregate
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/utils/modules/observability.module.ts
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/events/index.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-created.event.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-deleted.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/aggregates/user/user.module.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/domain/utils/value-objects/user-status.vo.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-created.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-deleted.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-objects/user-status.vo.spec.ts
Due: sort-package-json, check-secret-lint

fix(backend): address PR review findings for Phase 4B DDD evolution
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/events/index.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-created.event.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-deleted.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
Due: check-secret-lint

fix(backend): improve logging quality and comment accuracy in DDD layer
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
Due: check-secret-lint

feat(backend): add Phase 4B DDD evolution - User Aggregate, Domain Events, UserStatus VO (#649)
  bun.lock
  packages/apps/backend/package.json
  packages/apps/backend/src/apis/utils/modules/observability.module.ts
  packages/apps/backend/src/domain/aggregates/user/event-handlers/user-metrics.handler.ts
  packages/apps/backend/src/domain/aggregates/user/events/index.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-created.event.ts
  packages/apps/backend/src/domain/aggregates/user/events/user-deleted.event.ts
  packages/apps/backend/src/domain/aggregates/user/user.aggregate.ts
  packages/apps/backend/src/domain/aggregates/user/user.command.service.ts
  packages/apps/backend/src/domain/aggregates/user/user.module.ts
  packages/apps/backend/src/domain/usecases/user/delete-user.service.ts
  packages/apps/backend/src/domain/utils/domain-event-publisher.service.ts
  packages/apps/backend/src/domain/utils/entity.base.ts
  packages/apps/backend/src/domain/utils/value-objects/user-status.vo.ts
  packages/apps/backend/tests/src/domain/aggregates/user/event-handlers/user-metrics.handler.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-created.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/events/user-deleted.event.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.aggregate.spec.ts
  packages/apps/backend/tests/src/domain/aggregates/user/user.command.service.spec.ts
  packages/apps/backend/tests/src/domain/usecases/user/delete-user.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/domain-event-publisher.service.spec.ts
  packages/apps/backend/tests/src/domain/utils/value-objects/user-status.vo.spec.ts
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
