Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

Revert "chore: Update renovatebot/github-action action to v43.0.15 (#383)"
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Revert "chore: Update renovatebot/github-action action to v43.0.15 (#… (#384)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate (#386)
  .github/renovate.json
Due: check-secret-lint

Revert "chore: update renovate (#386)"
  .github/renovate.json
Due: check-secret-lint

Revert "chore: update renovate (#386)" (#387)
  .github/renovate.json
Due: check-secret-lint

chore: update renovate (#388)
  .github/workflows/renovate.yml
Due: check-secret-lint

Revert "chore: update renovate (#388)"
  .github/workflows/renovate.yml
Due: check-secret-lint

Revert "chore: update renovate (#388)" (#389)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate
  .github/renovate.json
Due: check-secret-lint

chore: update renovate (#390)
  .github/renovate.json
Due: check-secret-lint

fix: apply aggressive memory optimization for renovate OOM issue
  .github/renovate.json
Due: check-secret-lint

fix: aggressive memory optimization for Renovate OOM (#391)
  .github/renovate.json
Due: check-secret-lint

chore: update renovate (#395)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate (#400)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore/update renovate 2 (#402)
  .github/renovate.json
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate (#403)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate (#404)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: update renovate (#409)
  .github/renovate.json
Due: check-secret-lint

chore: Update dependency vite to v7.1.11 [SECURITY]
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.2.1
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.0
  .tool-versions
Due: none

chore/update renovate 3 (#413)
  .github/renovate.json
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#407)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.2.1 (#406)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency vite to v7.1.11 [SECURITY] (#405)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.0 (#412)
  .tool-versions
Due: none

Revert "chore: Update dependency bun to v1.3.0 (#412)"
  .tool-versions
Due: none

chore: fix problems
  bun.lock
  package.json
  packages/apps/admin/tests/storybook/stories/Button.tsx
  packages/apps/backend/eslint.config.ts
  packages/apps/backend/package.json
  packages/apps/backend/scripts/open-swagger-ui.ts
  packages/apps/mobile/package.json
  packages/apps/mobile/tests/unit/jest.config.ts
  packages/libs/eslint-configs/src/eslint-config-react.ts
  scripts/fix-storybook-vite.sh
Due: sort-package-json, check-secret-lint
