Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major) (#696)
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency next to v16.1.7 [SECURITY]
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency next to v16.1.7 [SECURITY] (#700)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

feat(mobile): add Firebase auth signup feature
  bun.lock
  packages/apps/mobile/.gitignore
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/firebase/development/.gitkeep
  packages/apps/mobile/firebase/production/.gitkeep
  packages/apps/mobile/firebase/staging/.gitkeep
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(auth)/_layout.tsx
  packages/apps/mobile/src/app/(auth)/sign-up.tsx
  packages/apps/mobile/src/app/(tabs)/_layout.tsx
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/features/auth/context/AuthProvider.tsx
  packages/apps/mobile/src/features/auth/hooks/useFirebaseAuth.ts
  packages/apps/mobile/src/features/auth/index.ts
  packages/apps/mobile/src/features/auth/services/userApi.ts
  packages/apps/mobile/src/features/auth/types.ts
Due: sort-package-json, check-secret-lint

fix(mobile): build React Native from source to fix iOS non-modular header errors
  packages/apps/mobile/app.config.ts
Due: check-secret-lint

chore(mobile): add make commands
  packages/apps/mobile/Makefile
Due: check-secret-lint

fix(mobile): add Expo config plugin for Firebase modular headers
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/eslint.config.ts
  packages/apps/mobile/plugins/withFirebaseModularHeaders.js
Due: check-secret-lint

fix(mobile): replace custom plugin with expo-build-properties
  bun.lock
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/eslint.config.ts
  packages/apps/mobile/package.json
  packages/apps/mobile/plugins/withFirebaseModularHeaders.js
Due: sort-package-json, check-secret-lint

chore(mobile): add eas's make commands
  packages/apps/mobile/Makefile
Due: check-secret-lint

fix(mobile): align expo package versions with SDK 54
  bun.lock
  packages/apps/mobile/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#699)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-playwright to v2.10.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency eslint-plugin-playwright to v2.10.0 (#701)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v29
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#702)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.1.7
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.17
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v11.1.17 (#705)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.1.7 (#704)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.0
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.0 (#707)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#706)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency jsdom to v29 (#703)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @golevelup/ts-jest to v3
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#708)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @golevelup/ts-jest to v3 (#709)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.1
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency jsdom to v29.0.1
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.11
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.11 (#712)
  .tool-versions
Due: none

chore: Update Admin other dependencies (non-major) to v16.2.1 (#710)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency jsdom to v29.0.1 (#711)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#713)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/eslint-plugin to v1.6.13
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @vitest/eslint-plugin to v1.6.13 (#714)
  bun.lock
  package.json
Due: sort-package-json

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
