Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-commit:
  parallel: true
  commands:
    sort-package-json:
      glob: '{package.json,**/package.json}'
      run: |
        for file in {staged_files}; do
          bunx sort-package-json "$file"
          git add "$file"
        done
    validate-prisma-schema:
      glob: '**/prisma/schema.prisma'
      run: |
        for file in {staged_files}; do
          scripts/validate-prisma-schema.sh "$file"
        done
    check-secret-lint:
      glob: '**/*'
      run: |
        bunx secretlint {staged_files}
    check-dotenv-lint:
      glob: '.env*'
      run: |
        bun run lint:dotenv:check
        bun run lint:dotenv:compare
        bun run lint:dotenv:fix
        git add {staged_files}

chore: Update dependency lefthook to v2 (#432)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Node.js to v22.21.0 (#431)
  .tool-versions
Due: none

chore: Update renovatebot/github-action action to v43.0.18 (#430)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Backend other dependencies (non-major) to v6.18.0
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major) to v6.18.0 (#433)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#434)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency firebase-tools to v14.21.0
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency bun to v1.3.1
  .tool-versions
Due: none

chore: Update dependency bun to v1.3.1 (#437)
  .tool-versions
Due: none

chore: Update dependency firebase-tools to v14.21.0 (#436)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#440)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @types/express to v5.0.4
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency @types/express to v5.0.4 (#441)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update vitest monorepo to v4
  bun.lock
  package.json
Due: sort-package-json

chore: add @vitest/browser-playwright
  bun.lock
  package.json
  packages/apps/admin/tests/storybook/vitest.config.ts
Due: sort-package-json, check-secret-lint

chore: Update vitest monorepo to v4 (major) (#439)
  bun.lock
  package.json
  packages/apps/admin/tests/storybook/vitest.config.ts
Due: sort-package-json, check-secret-lint

chore: Pin dependency @vitest/browser-playwright to 4.0.5
  bun.lock
  package.json
Due: sort-package-json

chore: Pin dependency @vitest/browser-playwright to 4.0.5 (#443)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/upload-artifact action to v5
  .github/workflows/renovate.yml
Due: check-secret-lint

fix: eslint config
  packages/libs/eslint-configs/src/eslint-config-react.ts
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#442)
  bun.lock
  package.json
  packages/libs/eslint-configs/src/eslint-config-react.ts
Due: sort-package-json, check-secret-lint

chore: Update actions/upload-artifact action to v5 (#444)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) to v4.0.3
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) to v4.0.3 (#445)
  bun.lock
  package.json
Due: sort-package-json

chore: Update nextjs monorepo to v16
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

fix: fix
  bun.lock
  packages/apps/admin/eslint.config.ts
  packages/apps/admin/package.json
  packages/apps/admin/types/eslint-config-next.d.ts
Due: sort-package-json, check-secret-lint

chore: Update nextjs monorepo to v16 (major) (#438)
  bun.lock
  packages/apps/admin/eslint.config.ts
  packages/apps/admin/package.json
  packages/apps/admin/types/eslint-config-next.d.ts
Due: sort-package-json, check-secret-lint

chore: Pin dependency eslint-config-next to 16.0.1
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Pin dependency eslint-config-next to 16.0.1 (#446)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Root other dependencies (non-major) (#449)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Backend other dependencies (non-major) (#448)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Node.js to v22.21.1
  .tool-versions
Due: none

chore: Update renovatebot/github-action action to v43.0.19
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.0.1
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint
