Repository t-i-0414/music-practice-tracker: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, validate-prisma-schema, check-secret-lint, check-dotenv-lint

sort-package-json:
  run: "for file in {staged_files}; do\n  bunx sort-package-json \"$file\"\n  git add \"$file\"\ndone\n"

validate-prisma-schema:
  run: "for file in {staged_files}; do\n  scripts/validate-prisma-schema.sh \"$file\"\ndone\n"

check-secret-lint:
  run: 'bunx secretlint {staged_files}
  
    '

check-dotenv-lint:
  run: 'bun run lint:dotenv:check
  
    bun run lint:dotenv:compare
  
    bun run lint:dotenv:fix
  
    git add {staged_files}
  
    '

chore: Update Root other dependencies (non-major)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Root other dependencies (non-major) (#752)
  bun.lock
  package.json
Due: sort-package-json

chore: Update actions/setup-node digest to 48b55a0
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update actions/setup-node digest to 48b55a0 (#754)
  .github/actions/setup-bun/action.yml
Due: check-secret-lint

chore: Update Root other dependencies (non-major) (#753)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @swc/core to v1.15.30
  bun.lock
  package.json
Due: sort-package-json

chore: Update secretlint monorepo to v12
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @swc/core to v1.15.30 (#755)
  bun.lock
  package.json
Due: sort-package-json

chore: Update dependency @nestjs/swagger to v11.3.2
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

feat(mobile): add Firebase authentication for mobile app (#725)
  bun.lock
  packages/apps/mobile/.gitignore
  packages/apps/mobile/Makefile
  packages/apps/mobile/app.config.ts
  packages/apps/mobile/firebase/development/.gitkeep
  packages/apps/mobile/firebase/production/.gitkeep
  packages/apps/mobile/firebase/staging/.gitkeep
  packages/apps/mobile/package.json
  packages/apps/mobile/src/app/(auth)/_layout.tsx
  packages/apps/mobile/src/app/(auth)/sign-up.tsx
  packages/apps/mobile/src/app/(tabs)/_layout.tsx
  packages/apps/mobile/src/app/_layout.tsx
  packages/apps/mobile/src/features/auth/context/AuthProvider.tsx
  packages/apps/mobile/src/features/auth/hooks/useFirebaseAuth.ts
  packages/apps/mobile/src/features/auth/index.ts
  packages/apps/mobile/src/features/auth/services/userApi.ts
  packages/apps/mobile/src/features/auth/types.ts
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.5
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update Backend other dependencies (non-major)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Pin dependencies
  .github/actions/setup-eas/action.yml
  .github/workflows/eas-preview.yml
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update actions/checkout digest to de0fac2
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dependency bun to v1.3.13
  .tool-versions
Due: none

chore: Update kentaro-m/auto-assign-action action to v2.0.2
  .github/workflows/auto-assign.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44.2.6
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/cache action to v5
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/github-script action to v9
  .github/workflows/auto-pr-template.yml
Due: check-secret-lint

chore: Update actions/upload-artifact action to v7
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dotenv-linter/action-dotenv-linter action to v3
  .github/workflows/ci-static.yml
Due: check-secret-lint

chore: Update eslint monorepo to v10
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v46
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update Backend other dependencies (non-major) (#760)
  bun.lock
  packages/apps/backend/package.json
Due: sort-package-json, check-secret-lint

chore: Update Admin other dependencies (non-major) to v16.2.5 (#758)
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

chore: Update dependency bun to v1.3.13 (#763)
  .tool-versions
Due: none

chore: Update kentaro-m/auto-assign-action action to v2.0.2 (#764)
  .github/workflows/auto-assign.yml
Due: check-secret-lint

chore: Update renovatebot/github-action action to v44.2.6 (#765)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/github-script action to v9 (#767)
  .github/workflows/auto-pr-template.yml
Due: check-secret-lint

chore: Update actions/upload-artifact action to v7 (#768)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update dotenv-linter/action-dotenv-linter action to v3 (#770)
  .github/workflows/ci-static.yml
Due: check-secret-lint

chore: Update actions/checkout digest to de0fac2 (#762)
  .github/workflows/auto-pr-template.yml
  .github/workflows/ci-static.yml
  .github/workflows/ci-test.yml
  .github/workflows/claude.yml
  .github/workflows/eas-development.yml
  .github/workflows/eas-preview.yml
  .github/workflows/eas-production.yml
  .github/workflows/eas-staging.yml
  .github/workflows/eas-storybook.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update commitlint monorepo to v21
  bun.lock
  package.json
Due: sort-package-json

chore: Update renovatebot/github-action action to v46 (#772)
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update actions/cache action to v5 (#766)
  .github/actions/setup-bun/action.yml
  .github/actions/setup-turborepo-cache/action.yml
  .github/workflows/renovate.yml
Due: check-secret-lint

chore: Update commitlint monorepo to v21 (major) (#769)
  bun.lock
  package.json
Due: sort-package-json

chore: Update Admin other dependencies (non-major) to v16.2.6
  bun.lock
  packages/apps/admin/package.json
Due: sort-package-json, check-secret-lint

Path conditions:
  sort-package-json: any of: {package.json,**/package.json}
  validate-prisma-schema: any of: **/prisma/schema.prisma
  check-secret-lint: any of: **/*
  check-dotenv-lint: any of: .env*
